[2018-01-27 00:03] christinahedges opened #6 "The `plot` method returns the wrong xlabel if run on a folded light curve."
I'm not sure how to fix this. The plot method has xlabel as a keyword, but the default is Tim - BJDREF. This is usually fine but if you've folded it this should be Phase.

<img width="427" alt="screen shot 2018-01-26 at 4 02 31 pm" src="https://user-images.githubusercontent.com/14965634/35465634-591a36ee-02b2-11e8-9044-fe5b36314408.png">

The only solution I can think of is to have an attribute wh

[2018-01-27 00:12] barentsen commented on #6
Thinking out loud: this could be a job for the `meta` attribute, i.e. the `fold()` method could set `lc.meta['is_folded`] = True`.

[2018-01-27 01:00] christinahedges commented on #6
I think that it might be better to have some description attribute for what's held in flux, flux_err and time. Then when the user prints them it displays that description? The description can update if you run the fold method or flatten method.

e.g.

flux: 'Flux in counts [e-s-1]

'lc = lc.normalize()'

flux: 'Normalized Flux'

[2018-01-27 02:48] barentsen commented on #6
Interesting.  I wonder if we want to keep track of `flux_label` and `flux_units` as attributes or using the `meta` dictionary.

Related note: right now we don't support astropy `Quantity` at all (if flux is a `Quantity` is converted to a simple numpy array in the constructor of `LightCurve`).

[2018-02-02 00:35] mirca opened #9 "LightCurve.plot should have prettier defaults"
That's what I get with the current arguments:
![screen shot 2018-02-01 at 4 34 49 pm](https://user-images.githubusercontent.com/13077051/35710727-d67bddb2-076d-11e8-858f-fea8b3e9cec5.png)

[2018-02-02 19:39] gully commented on #9
Look like a main improvement would be scaling the *y-* limits.
Also suppressing the `<matplotlib ... aba8>` text by default would help.

[2018-02-05 23:52] barentsen opened #14 "Consider adding a `KeplerTargetPixelFile.overlay_on_sky()` function"
This would not necessarily replace `k2-pix`, because the latter provides a command-line interface etc...  Instead, perhaps `lightkurve` could provide the very basic functionality which `k2-pix` imports.

[2018-02-06 18:59] christinahedges commented on #14
This would be nice, I was just about to add an issue saying we need to add the WCS solution for each target pixel file. (Some gotchas include note all TPFs having WCS in them). This would allow us to make the above function, right?

[2018-02-06 19:12] christinahedges opened #15 "tpf should have a method to output the time in human date."
It would be useful for people to be able to see light curves with dates instead of MJD. We can use astropy.time.Time and datetime to create a tpf.time_readable or something similar. These objects also plot up nicely.

[2018-02-06 19:25] barentsen commented on #14
I've been dreaming about a `tpf.get_wcs()` function that returns an AstroPy WCS object, which is somewhat non-trivial to instantiate otherwise.  Here is the code I'm talking about:  https://gist.github.com/barentsen/46a4b44223ae05377702

Not sure this is exactly what we need to enable an astropy `wcsaxis` to overlay the image, I'd have to be reminded how that all works.  What'd you think, @chedges

[2018-02-06 19:35] barentsen commented on #15
Agreed!  `k2flix` has three useful BKJD<>BJD<>JD conversion functions which we may want to port to `lightkurve` (and test thoroughly), here:

https://github.com/barentsen/k2flix/blob/master/k2flix/core.py#L59

Other conversion can indeed be done using Astropy (which doesn't support BKJD).

[2018-02-11 06:14] mirca opened #21 "add a proper logo to lightkurve docs"
Although our current logo is cool, I feel we need a less trembling one.

[2018-02-11 06:31] barentsen commented on #21
:+1:

We can have a special secret page to preserve the current logo.

[2018-02-15 18:32] barentsen opened #22 "Improve centroiding using polynomial fitting"
@dfm pointed out that better centroid estimates may be achieved by fitting a 2D polynomial to the central pixels of the stars, and returning the peak position.

The `TargetPixelFile.centroids` method could take a centroid-estimating method as a parameter.

[2018-02-20 21:53] barentsen commented on #21
I added a static logo!  Closing.

[2018-02-20 21:53] #21 closed

[2018-02-21 00:04] barentsen opened #26 "Make a tool that returns a `TargetPixelFile` object given a set of images and a cutout position/size"
We should have a tool that can cut out a region from an arbitrary list of standard FITS images and return a TPF.  This would enable `lightkurve` to be used with data from any telescope, or e.g. the `k2superstamp` data set (@amcody may already have code to do this).

This function can likely use AstroPy's `astropy.nddata.utils.Cutout2D` function.

Example use:
[code]

[2018-02-22 00:21] christinahedges opened #28 "lc.correct() won't work if there are NaNs in the lc object."
`lc.correct(method='sff')`

will break if there are NaNs in the lc object. `lc.remove_nans()` will not work, as it doesn't remove the nans from the centroids in the header.

[2018-02-22 22:44] #28 closed

[2018-02-22 23:23] #15 closed

[2018-02-23 01:35] christinahedges opened #30 "KeplerLightCurveFile.from_archive() will not download K2-33b"
I want to use K2-33b for a tutorial but `from_archive()` can't find the EPIC ID: 205117205.
![screen shot 2018-02-22 at 5 34 59 pm](https://user-images.githubusercontent.com/14965634/36573640-cb696072-17f6-11e8-90fc-55c41972bda4.png)
It can find it if I use the RA and Dec.

[2018-02-23 04:51] barentsen commented on #30
K2-33 i.e. EPIC 205117205 was observed during Campaign 2, for which the official pipeline has not (yet) delivered lightcurves to MAST.  I just verified that it does work for a target pixel file.

(Are you sure you can get the light curve when querying by RA/Dec?  MAST is being very unresponsive so I haven't been able to verify.)

[2018-02-23 17:25] barentsen commented on #30
I just verified that `lc = KeplerLightCurveFile.from_archive("242.5614060 -19.3192730")` does not return a lightcurve either, as expected for a Campaign 2 target.  I'm going to close this issue, but do re-open it if you think something is wrong.

[2018-02-23 17:25] #30 closed

[2018-02-23 19:22] barentsen commented on #30
Because in the early days of K2, the pipeline was not able to generate lightcurves.  They are being generated now but now at MAST yet.

(We could look into supporting the retrieval of lightcurves from e.g. Vanderburg, but that's not a feature right now.)

[2018-02-24 00:57] christinahedges opened #31 "lc.stitch() fails"
lc.stitch fails, it doesn't iterate through the list that is passed. I think there needs to be a check on the input for `hasattr('__iter__')` before we do anything with it.

![screen shot 2018-02-23 at 4 54 57 pm](https://user-images.githubusercontent.com/14965634/36623536-7c4b4c7a-18ba-11e8-9b44-57384acbf3e4.png)

[2018-02-24 01:24] #31 closed

[2018-02-24 01:24] gully opened #32 "The Kepler Two-Wheel Engineering Test TPFs crash due to absent "mission" keyword"
[code]

 results in:

[code]

[2018-02-24 02:54] gully commented on #32
Still causes problem-- The "mission" appears in the `__repr__`, which explodes if you try to repr `lc`.

[2018-02-24 03:02] gully opened #34 "Support for one-fell-swoop masking and user-defined outlier rejection"
Currently, the `remove_outliers()` method in `lightcurve` does not support user-defined masks.  With some discussion, Geert and I think that we could support direct masking, e.g.:

[code]

where mask is a boolean mask.  Geert points out that we'd have to implement dunder methods:
https://docs.python.org/3/reference/datamodel.html#object.__getitem__

A backup approach could be to support an `input_

[2018-02-24 03:11] gully commented on #34
Related problem, a bug actually:

[code]

yields
`((294,), (435,))`

since `lc.quality` is not masked in remove_outliers

[2018-02-25 17:17] barentsen commented on #32
Thanks! I snuck a fix for the `__repr__` bug into #35 and am adding `__repr__` unit tests as part of #36, so we can close this!

[2018-02-25 17:17] #32 closed

[2018-02-26 01:02] mirca opened #39 "indentation in functions plot_image and bkjd_to_time seems inconsistent"
https://github.com/KeplerGO/lightkurve/blob/master/lightkurve/utils.py#L187
https://github.com/KeplerGO/lightkurve/blob/master/lightkurve/utils.py#L257

[2018-02-26 01:12] barentsen commented on #34
Over in #37 slicing has been implemented using `__getitem__` and `remove_outliers()` has been edited to make use of slicing, which got rid of the big.  Please review and re-open the issue if you have any concerns!

[2018-02-26 01:12] #34 closed

[2018-02-26 01:17] barentsen commented on #34
Just for clarity: user-defined masks are now easy to apply, e.g. you can do
`new_lc = lc[np.abs(lc.flux - np.mean(lc.flux)) > 3*np.std(lc.flux)]`

[2018-02-26 01:20] barentsen commented on #26
I started working on this.

[2018-02-26 02:33] #39 closed

[2018-02-26 18:26] barentsen opened #42 "Add a tutorial about the generic features of a `LightCurve` object"
To make sure non-Kepler or non-TESS users don't immediately switch off when they see the docs, let's add a tutorial that focuses on the generic functionality of the `LightCurve` class.

[2018-02-27 01:03] christinahedges opened #46 "KeplerCBVCorrector should taken in a LightCurve object as well as a LightCurveFile"
Currently KeplerCBVCorrector only accepts a LightCurveFile as an input. It should be able to work from a LightCurve generated from a tpf file e.g. `tpf.to_lightcurve()` still has a channel and a quarter.

[2018-02-27 01:10] christinahedges commented on #46
Additionally, we should consider editing the LightCurve object, rather than returning a new LightCurve object with no meta data.

We could use it as part of the `correct` method.

[2018-02-27 01:48] christinahedges opened #47 "We should have a tpf.describe() and lc.decribe()"
These would print valuable information. We think:
* ID
* Instrument
* Time of observation
* Flux 25th, median and 75th percentiles

We could also improve __repr__ and __str__ along these lines

[2018-02-27 01:50] christinahedges opened #48 "Masking and Slicing should work in TargetPixelFile"
I need this in my life.

[2018-02-27 21:56] gully opened #50 "SFFCorrector standardization and improvements"
Possible small tweaks to improve `SFFcorrector()`:

- [ ] Return the fitted long-term trend that is applied (currently a b-spline)
- [ ] Implement "Break point as a function of the campaign number"
- [ ] The bspline should take in raw time, not time relative to t0 (user may mask time later, losing reproducibility).
- [ ] `s` variable name, although faithful to the publication notation, causes some

[2018-02-27 21:58] gully commented on #50
- [ ] Could return ds/dt, useful for detecting high motion
- [ ] Could return ds/dt > 5 sigma threshold, used in Vanderburg & Johnson for thruster masking

[2018-02-27 22:00] gully commented on #50
- [ ] Consider a default behavior that leaves in the long-term trend (useful for astrophysics research), and apply the `.flatten()` separately.
- [ ] Strange overwriting behavior when `niter` is set to > 1

[2018-02-27 22:49] barentsen opened #51 "Add a function to convert Kepler electrons/s into Kp magnitude or e.g. Jansky"
To study e.g. flare energies, users sometimes want to convert Kepler's relative photometry (electrons/s) into absolute fluxes.  Although the literature on Kepler's zeropoint is limited, it would be useful to offer a function to convert fluxes into absolute units (e.g. Kp) using a best-available estimate of the zeropoint.

The GO site has historically listed a flux "zero"-point of 1.74 × 10^5 e-/s

[2018-02-27 23:28] gully commented on #50
- [ ] Use `interior_knots` for the bspline, to avoid over-fitting at the end.

[2018-02-28 00:04] barentsen opened #53 "tpf.plot(scale='log') has a funny colorbar"
If `scale="log"` is used in `tpf.plot()`, we should let the ticks in the colorbar use log steps as well. Right now the colorback ticks look funny:

![image](https://user-images.githubusercontent.com/817669/36762289-ac10933c-1bd7-11e8-83cd-be0be542c315.png)

[2018-02-28 06:40] mirca opened #54 "Possible bug in lc.plot?"
See the screenshots below:
![screen shot 2018-02-28 at 2 38 34 pm](https://user-images.githubusercontent.com/13077051/36773543-261bb9a0-1c95-11e8-90f4-1a954270d0aa.png)
![screen shot 2018-02-28 at 2 39 37 pm](https://user-images.githubusercontent.com/13077051/36773559-3b5ea4d0-1c95-11e8-8863-553f299a7999.png)

[2018-02-28 18:28] christinahedges commented on #54
It's not a bug in the plot. You have normalized the flux somewhere but not normalized the errors. The error bars are ~15 counts.

[2018-02-28 20:09] gully opened #55 "Tutorial plots do not appear due to absent %matplotlib inline"
I'm finding many of the tutorial plots do not appear on my system, probably due to a missing `%matplotlib inline`.  When I run `%matplotlib inline`, the figures appear inline, as desired.

[2018-02-28 23:13] JeffLCoughlin commented on #51
Another reference (maybe more updated) is the v2 (2016) Kepler Instrument Handbook. I think the right place is page 85 (sec. 7.5), which lists "fKep12 is the benchmark photoelectron current at the
Kepler focal plane for a 12th magnitude star = 2.1x10E-5 e/s (Bachtell and Peters, 2008)".

[2018-02-28 23:16] christinahedges opened #56 "KeplerCBVCorrector should accept a KeplerLightCurve"
Currently it does not and I want to correct my own light curve:

<img width="1125" alt="screen shot 2018-02-28 at 3 14 33 pm" src="https://user-images.githubusercontent.com/14965634/36818533-4c44cc5c-1c9a-11e8-88ae-7d038516c919.png">

[2018-02-28 23:38] christinahedges opened #57 "Slicing and Masking for Target Pixel File"
I'm addicted to slicing and masking in LightCurve objects. Please can we have it in target pixel files too?

[2018-02-28 23:42] barentsen commented on #57
:+1:

[2018-03-01 01:21] mirca commented on #54
I pull the latest changes and now everything works again! =D

[2018-03-01 01:21] #54 closed

[2018-03-01 03:30] christinahedges opened #58 "TPFMaker doesn't return the right number of cadences."
In PR #41 there is a problem with the number of time stamps not being returned. See below:

<img width="1166" alt="screen shot 2018-02-28 at 7 29 28 pm" src="https://user-images.githubusercontent.com/14965634/36825706-c76aff1e-1cbd-11e8-8199-3faf2987954e.png">

Not sure what's going on here, can't see why it would only return 4 of the time stamps requested.

[2018-03-01 05:26] barentsen opened #59 "Improve `KeplerTargetPixelFile.from_fits_images()`"
Over in #41 the following outstanding improvements to  `KeplerTargetPixelFile.from_fits_images()` were identified:

- [ ] The WCS is not carried through yet.
- [ ] The performance is slow; using fitsio may be better.
- [ ] The unit test coverage is not complete.
- [ ] Support for flux errors is missing.

[2018-03-01 05:30] barentsen commented on #58
@gully investigated this today.  It turned out that the `KeplerTargetPixelFile` did contain the correct number of timestamps, however they were being masked out by the quality mask because most of the cadences in the Kepler cluster data have the "cosmic ray in optimal aperture" quality flag set.

Over in #41 we implemented two workarounds:
1. The "cosmic ray in optimal aperture" was moved from DEF

[2018-03-01 05:30] #58 closed

[2018-03-01 20:08] christinahedges commented on #57
This looks like it would only be possible if you first clipped out the flux values from the fits file and reloaded it.

[2018-03-02 01:27] christinahedges commented on #47
Fixed in #61

[2018-03-02 01:27] #47 closed

[2018-03-02 05:17] christinahedges commented on #6
This can be fixed by the user if they pass the xlabel keyword...but we're not doing it. And it's in all our docs and tutorials and gifs.

[2018-03-02 05:40] barentsen commented on #6
I've proposed a fix in #64.

[2018-03-02 18:16] barentsen commented on #6
#64 has been merged, meaning this issue should be fixed no!

[2018-03-02 18:16] #6 closed

[2018-03-02 20:10] #9 closed

[2018-03-05 16:39] jessie-dotson opened #68 "from archive fails when campaign is specified"
<img width="779" alt="screen shot 2018-03-05 at 11 39 02 am" src="https://user-images.githubusercontent.com/20976560/36987226-db09502a-2069-11e8-828c-05eb4715373f.png">

If you take the campaign specification out, the command works.

[2018-03-06 16:12] barentsen opened #69 "LightCurve.correct() does not work with SciPy 0.17"
The exception said `scipy.interpolate.BSpline not found`.  Upgrading from scipy 0.17 to scipy 0.19 resolved the problem for the user.

[2018-03-06 17:18] mirca commented on #69
That makes sense to me: https://github.com/scipy/scipy/blob/4b6f71ab37bda20687ff493669a53cb15fb0b35f/doc/release/0.19.0-notes.rst#scipy-interpolate-improvements

[2018-03-06 17:19] #69 closed

[2018-03-06 17:25] barentsen commented on #69
:+1: Thanks @mirca!  You rule New York!

[2018-03-06 18:09] christinahedges opened #70 "Lightcurve should have a to_fits method for hlsps"
Some hlsps have not made it to MAST because it's a pain to put light curves into a fits file. If we can implement it it will lower the barrier for entry for the hlsps.

[2018-03-06 18:10] christinahedges commented on #70
It needs to populate the headers appropriately for MAST

[2018-03-07 16:55] christinahedges opened #71 "Make a one-liner to turn a 3D numpy array into a KeplerTargetPixelFile using the factory"
This will mean people can use their models with lightkurve with no headaches.

[2018-03-07 16:55] christinahedges opened #72 "KeplerTargetPixelFile flux should be editable"
Currently you can't edit the flux of a tpf. It would be nice to have this feature so we can see the residuals by doing e.g.

`(tpf - model).plot()`

[2018-03-08 19:31] jessie-dotson opened #74 "flatten crashes due to breakpoints"
Snippets to recreate below.  I ran into this problem with WASP-47, but not with HATS-11 (216414930).
[code]

[code]

[code]

[2018-03-08 21:02] barentsen opened #75 "Add an AUTHORS.rst file"
...and explain in the docs what the benefits are of contributing to lightkurve, which includes being added to the AUTHORS file etc.

[2018-03-08 23:18] christinahedges opened #76 "Include POS_CORR1 and POS_CORR2 in a KeplerLightCurve?"
A KeplerLightCurve can get poscorr values either from a tpf or a lcf. We've been asked if we can have these carry over in a property.

[2018-03-09 14:38] barentsen opened #78 "`SFFCorrector.trend` does not provide the full trend when `windows` > 1"
See title.

[2018-03-09 15:26] mirca commented on #76
I added that in https://github.com/KeplerGO/lightkurve/commit/c68c8350853c857da9b8acc8d27d9b96c67bba3c.

[2018-03-09 15:37] barentsen commented on #76
Thanks @mirca!

[2018-03-09 15:38] christinahedges commented on #76
👍  👍 👍

[2018-03-09 16:11] jessie-dotson opened #79 "after binning, slicing doesn't work"
![image](https://user-images.githubusercontent.com/20976560/37217048-76f2e24e-238a-11e8-93c4-8ec036ddce21.png)

[2018-03-09 16:12] barentsen commented on #79
This has now been fixed by merging #73.  Thanks @jessie-dotson!

[2018-03-09 16:12] #79 closed

[2018-03-09 16:36] barentsen commented on #76
I'm going to re-open this because c68c835 added pos_corr* to `KeplerLightCurveFile`, but not `KeplerLightCurve`.  It sounds like we may want to pass this on.

[2018-03-14 19:49] christinahedges opened #81 "`from_archive` doesn't work for C15"
![screen shot 2018-03-14 at 12 48 44 pm](https://user-images.githubusercontent.com/14965634/37427251-0e2f803c-2786-11e8-8a63-8f390238d3b5.png)

But it is available at MAST:

<img width="795" alt="screen shot 2018-03-14 at 12 49 01 pm" src="https://user-images.githubusercontent.com/14965634/37427255-171c8884-2786-11e8-9731-3636eaf58f16.png">

[2018-03-15 00:51] barentsen commented on #81
I pinged @scfleming about it.  I believe it is simply a matter of the MAST API having to sync up with this brand new data release.

[2018-03-15 06:10] scfleming commented on #81
Correct, API will come once data are in Portal.  I usually start the ball rolling on that, it gets done after Randy/Faith get stuff online, and with a different group.  Should be availble via Portal/API early next week.  The Portal goes through weekly patches, so assuming I get C15 ready for Portal update by end of the week (likely) then it should be ready in next week's Portal update.

[2018-03-15 15:58] barentsen commented on #81
Many thanks for the clarification @scfleming.  For the next few days users will have to pass the URL of a C15 TPF or LC file directly, which I think is fine!  Closing...

[2018-03-15 15:58] #81 closed

[2018-03-16 18:32] #68 closed

[2018-03-16 18:33] barentsen commented on #68
Thank you for reporting this issue @jessie-dotson!  This was a genuine bug which has now been fixed.

[2018-03-16 21:41] barentsen opened #83 "flatten() raises a ValueError"
We received the following bug report via e-mail:

===
Hello Kepler Science Time,

I am going through the 'Science with lightkurve' tutorial 'How to perform aperture photometry with custom apertures'. (http://lightkurve.keplerscience.org/tutorials/2.05-making-custom-apertures.html)

When I run the code in the tutorial in my notebook I am getting an error.

[code]
Is this a known error? What should

[2018-03-16 21:42] barentsen commented on #83
It looks to me like flatten is broken when the lightcurve is shorter than the default `window_length`. I'm working on a quick fix.

[2018-03-16 21:52] barentsen opened #84 "Continuously test the tutorial notebooks"
Issue #83 reminded me that we do not appear to run the tutorial notebooks as part of Travis.  We should investigate whether we can!

[2018-03-17 05:03] #83 closed

[2018-03-17 17:33] barentsen commented on #74
I verified that the bugfix merged in #85 has resolved this problem.  Yay!  Closing the issue...

[2018-03-17 17:33] #74 closed

[2018-03-18 04:11] #42 closed

[2018-03-18 04:11] barentsen commented on #26
This was added in 1.0.beta via the `KeplerLightCurve.from_fits_images()` method.

[2018-03-18 04:11] #26 closed

[2018-03-20 16:23] StuartLittlefair opened #87 "Struggling to access K2 data from Campaign 15"
Should this be accessible yet? i.e, should this work?

[code]

I get

[code]

[2018-03-20 16:30] christinahedges commented on #87
Hi Stuart, unfortunately this is a problem with the MAST Portal not being up to date quite yet because the data is so new. It was discussed in issue #81 and @scfleming believes that it will likely be resolved within a week. For now you can download the data directly yourself through MAST:

https://archive.stsci.edu/k2/data_search/search.php?target=249914869&action=Search&resolver=SIMBAD&radius=3.0

[2018-03-20 16:30] StuartLittlefair opened #88 "Cannot open Campaign 15 Target Pixel FITS files"
After installing lightkurve on Anaconda python 3.6 (```pip install lightkurve```) and downloading a TPF FITS file from MAST (https://archive.stsci.edu/pub/k2/target_pixel_files/c15/249900000/14000/ktwo249914869-c15_spd-targ.fits.gz), I am unable to open with lightkurve

[code]

I tried downloading ```tpf-ext0-header.txt``` etc, from ```kadenza``` after which the above command works, but when I pro

[2018-03-20 16:32] scfleming commented on #87
Yep, C15 is added to our Portal test server and passed initial testing, show it should be available as soon as it gets pushed to operations, nominally this week.

[2018-03-20 16:32] StuartLittlefair commented on #87
Thanks @christinahedges

[2018-03-20 16:32] #87 closed

[2018-03-20 16:47] christinahedges commented on #88
@StuartLittlefair the from_fits_images also requires a position and size argument. If you don't pass a position in the image you would like to cut out, it will return something blank. You can read more here:

http://lightkurve.keplerscience.org/api/targetpixelfile.html#lightkurve.targetpixelfile.KeplerTargetPixelFile.from_fits_images

You can use astropy.SkyCoord to pass an RA and Dec to cut out w

[2018-03-20 16:51] barentsen commented on #88
@StuartLittlefair Note that you are trying to open a Target Pixel File, so you want to execute `KeplerTargetPixelFile('ktwo249914869-c15_spd-targ.fits')`, not  `KeplerTargetPixelFile.from_fits_images('ktwo249914869-c15_spd-targ.fits')`

(Nevertheless: this does expose a bug in `from_fits_images`, and it also shows that we should print a warning if someone tries to open a TPF using `from_fits_image

[2018-03-20 17:05] StuartLittlefair commented on #88
Many thanks @barentsen and @christinahedges for the help, especially since this was a pretty basic user error on my part.

@barentsen would you like me to raise a separate issue for the pip packaging problem, or leave this one open?

[2018-03-20 17:20] barentsen commented on #88
Let's leave the ticket open -- I expect to resolve this today!

[2018-03-20 17:32] barentsen commented on #88
The `FileNotFoundError` issue was resolved by adding a `MANIFEST.in` file to the repository.  I made this a hotfix and released `1.0beta4` to pypi.

I will close this issue and open a separate one to have `from_fits_images` print a helpful warning if someone tries to use it to open TPFs, which is not what it's intended for.

@StuartLittlefair Many many thanks for the bug report!

[2018-03-20 17:32] #88 closed

[2018-03-20 17:33] barentsen opened #89 "Print a helpful warning message if someone tries to open TPFs using `from_fits_images`"
See #88.

[2018-03-20 19:39] amcody opened #90 "Make CBV corrector compatible with light curves that have missing cadences"
Currently the CBV corrector requires input light curves with the same number of data points as the CBV vectors. This is problematic as some of the light curve data is null and might be removed. We should change the CBV corrector so as to remove points from each vector that correspond to missing light curve data.

[2018-03-21 00:15] barentsen opened #91 "Add a Jupyter notebook widget to inspect a TargetPixelFile"
I propose we add a Jupyter notebook widget to lightkurve that allows a Target Pixel File to be inspected in detail.  The principal use case is to enable users to investigate why certain cadences appear as outliers in a lightcurve. @gully seems interested in working on this!

Proposed specifications:
* The widget shall allow the user to select a cadence using e.g. a scrollbar and an input box.
* Fo

[2018-03-21 15:10] rrpastro opened #92 "'mask_color' is not working"
When I tried to use this command:
tpf.plot(frame=970, aperture_mask=tpf.pipeline_mask,mask_color='red')

I see the following errror:

AttributeError: Unknown property mask_color

Would you please look at it.

[2018-03-21 23:04] barentsen commented on #92
@rrpastro Thank you for reporting this issue!

@amcody would you like to investigate if there is an easy fix for this?

[2018-03-22 03:31] mirca commented on #90
This is also related to #56 and #46

[2018-03-22 04:50] amcody commented on #92
Looking into it!

[2018-03-22 18:11] amcody commented on #92
Hmm, I am not actually getting this bug. What version of matplotlib are you using?
![image](https://user-images.githubusercontent.com/10542558/37789664-c685c812-2dc1-11e8-943c-383b869c9054.png)

[2018-03-23 23:40] zkbt opened #93 "lightkurve mentioned on NPR!"
This isn't actually an issue. I just wanted to say congratulations, @barentsen!

https://www.sciencefriday.com/segments/after-finding-thousands-of-exoplanets-kepler-rides-into-the-sunset/

[2018-03-23 23:57] barentsen commented on #93
Haha thanks @zkbt.  You're allowed to open issues any time from here on!

[2018-03-23 23:57] #93 closed

[2018-03-25 17:39] barentsen opened #94 "Add a lightkurve cheat sheet"
Suggestion from @jessie-dotson: let's add a 1-page cheat sheet to the docs that summarizes the key features?

[2018-03-27 03:51] mirca commented on #92
hey @rrpastro, it looks like you are using an older version of `lightkurve`. Please do upgrade to fresh `1.0` :)

[2018-03-27 03:51] #92 closed

[2018-03-27 23:41] amcody opened #95 "Allow lightkurve's psf fitting priors to be input in image coordinates and/or RA, Dec"
Currently one must input detector column and row, which is proving problematic for stars in crowded superstamp regions (e.g., M67) that go across channel boundaries where the detector coordinates are discontinuous. It would be a lot easier to use the local coordinate system of the TPF to specify star positions (though one would still use the detector coordinates to retrieve the PRF model).

[2018-03-28 16:03] rrpastro commented on #92
@barentsen, @amcody, @mirca : Thank you for your help. I have no issue regarding 'mask_color' now.

[2018-04-03 21:53] amcody opened #96 "Improve layout of API documentation on lightkurve.keplerscience.org"
Consider making a [clickable?] menu of all methods and attributes at the top of the page.
I was looking for wcs and it did not appear in the table at the top, so I gave up and had to ask Christina.

[2018-04-05 20:35] gully opened #98 "A quicklook tool, with interactive targetpixel image registered to selected position in lightcurve"
We propose a long-awaited feature: the ability to inspect the target-pixel file (TPF) at a cadence-of-interest, identified interactively from inspection of the associated lightcurve.

The **motivation for this feature** arises in many scenarios: "*Is this blip I see in my lightcurve astrophysical or some instrumental noise source?*" may be the most common.  Inspecting the cause of centroid shifts

[2018-04-05 21:27] gully commented on #98
⬆️ a prototype of the quicklook tool.

A few recommended upgrades:
- [ ] All the normal stylistic features-- axes labels, titles, distinctive fonts and colors, etc.
- [ ] A *longer* slider bar, ideally the same with as lightcurve window.  The steps jump by more than 1, so a given pixel cannot be "dialed into".

Bonus goal:
- [ ] Option for interactively updating the Screen Stretch on the TPF image

[2018-04-06 14:59] mustaric opened #101 "Short Cadence File ID from Table -1 error"
In lightcurvefile, function from_archive, on line 134
the line should read
products = Table(products[month-1])
not month+1

products is a table that is zero-based, but the user specifies the month in a one-based counting scheme.  Therefore you should subtract the one, not add.

[2018-04-06 15:05] mustaric opened #102 "Error in logic for Short Cadence Data Retrieval"
Short cadence retrieval is more complicated than lightkurve has currently implemented.
There can be times that there is only one month of short cadence in a quarter and your code is written such that it assumes you either have all three months or no short cadence.
For example.
sc=KeplerLightCurveFile.from_archive(5034333, cadence='short',quarter=3, month=1)
sc=KeplerLightCurveFile.from_archive(503

[2018-04-06 19:43] christinahedges opened #103 "There is a new rolling band tutorial that cannot be added until PR #97 is merged."
There is a new rolling band tutorial that cannot be added until PR #97 is merged. It can be found here:

https://github.com/christinahedges/k2torials/blob/master/2.06-identify-rolling-band.ipynb

It requires the new ability to do a radius search.

Trust though, it's worth it.

[2018-04-06 23:37] barentsen commented on #98
I'd like to suggest tooltips as an important extra feature.  The tooltip should provide the user access to the cadence number, the index number, the exact time value, the exact flux value, and the quality flags raised for the cadence.

[2018-04-06 23:38] barentsen commented on #91
This is now being discussed over in #98.    I'll close this issue because it's a duplicate!

[2018-04-06 23:38] #91 closed

[2018-04-06 23:54] christinahedges opened #104 "There should be a tutorial for how to work with C9 data"
We now have two tools that should allow you to work with C9 data:

* TPF factory will let you stitch together TPFs and cut them out around your desired target.
* from_archive allows you to search with ra and dec and radius in order to find the right files to stitch together.

I think this tutorial would be pretty useful. Here's a great target we should use as an example because it happens to cross

[2018-04-07 00:28] christinahedges opened #105 "from_archive can not handle split campaigns"
In the master branch version of from_archive split campaigns come up with errors:

![screen shot 2018-04-06 at 5 27 49 pm](https://user-images.githubusercontent.com/14965634/38449108-e9792242-39bf-11e8-9724-b460e0b8752c.png)

[2018-04-07 00:29] christinahedges commented on #105
`campaign=101` doesn't work either

[2018-04-09 18:32] gully commented on #91
whoops, I missed this when I opened the other issue!

[2018-04-10 17:29] gully commented on #98
Updates from a discussion with Geert:

- add tooltips!
- use [1%, 95%] log stretch by default
- try aperture mask clicking feature
- see if we can just have `[Play/Pause] [Previous Frame] [Next Frame]` buttons

[2018-04-10 22:06] gully commented on #98
![lightkurve_interact_2sliders](https://user-images.githubusercontent.com/860227/38585992-b96a1ab6-3cd0-11e8-9699-7c124ee69e33.gif)

[2018-04-10 22:10] gully commented on #98
Now with screen stretch slider on log scale, and support for single increment steps using left arrow ◀️ and right arrow ▶️ keys.

[2018-04-11 00:01] gully commented on #98
![lightkurve_interact_tooltips](https://user-images.githubusercontent.com/860227/38589598-c6355796-3ce0-11e8-81b8-0244d704b8e9.gif)

[2018-04-11 00:02] gully commented on #98
Now with hover-over tool-tips that indicate quality flags, flux, cadence number, time.

[2018-04-11 17:38] RuthAngus opened #106 "Astroquery ImportError when importing lightkurve"
Hi Awesome Llightkurve development team!

When I try to import lightkurve I get an ImportError from astroquery.exceptions. Do you know what the problem might be here? Thanks for your help!

[code]

[code]

[2018-04-11 17:59] mirca commented on #106
Hey @RuthAngus, could you tell us which version of ``astroquery`` you got?

[2018-04-11 18:29] RuthAngus commented on #106
Yes, I have version '0.3.6.post2'

[2018-04-11 18:32] mirca commented on #106
That must be it! If you update your `astroquery` to version `0.3.7` it will work!

[2018-04-11 18:34] RuthAngus commented on #106
Done and it works! Thanks so much for your help, Ze and for getting back to me so fast!

[2018-04-11 18:34] #106 closed

[2018-04-11 22:59] mirca commented on #106
@barentsen not sure, but if I have ``astroquery==0.3.6`` installed and try ``pip install lightkurve`` then pip automagically uninstalls ``astroquery 0.3.6`` and installs ``astroquery 0.3.7``.

[2018-04-12 18:29] christinahedges commented on #105
@barentsen this is what i mentioned yesterday.

![image](https://user-images.githubusercontent.com/14965634/38696685-b8fac2d6-3e44-11e8-8609-2f78f5fd08b9.png)

[2018-04-12 21:07] christinahedges opened #108 "Archive mislabels TPF descriptions"
![image](https://user-images.githubusercontent.com/14965634/38704308-bd50e07a-3e5a-11e8-9fc9-6476963c5d31.png)

We rely on these descriptions to get the campaign numbers for from archive. But instead, we could use the filenames. The file names are less likely to be incorrect than the descriptions.

[2018-04-12 21:08] christinahedges commented on #108
The only problem for this is we can't do it for Kepler quarters

[2018-04-16 20:02] gully opened #109 "boolean masking lightcurves erroneously omits cadenceno"
[code]

Should be a quick fix:

[code]

[2018-04-18 01:34] JeffLCoughlin commented on #108
Where in the archive is this listing of filenames and descriptions?

[2018-04-18 02:53] barentsen commented on #108
@JeffLCoughlin These are values of the `productFilename` and `description` fields returned by the MAST Portal API.  (cf. https://mast.stsci.edu/api/ )

[2018-04-18 19:17] JeffLCoughlin commented on #108
Ah gotcha. I put in on the MAST tag-up agenda for next meeting (unless you already have or want to tackle it through their API ticket/feedback system).  At least I'm assuming it'd be ideal to try getting the API-end correct before having to make a client-side fix.

[2018-04-19 22:49] gully commented on #95
Currently working on this now with AMC!

[2018-04-19 23:07] mirca commented on #95
This is really cool! Which branch are you both working on?

[2018-04-19 23:15] gully commented on #95
We are discussing the possibility of adding an option to apply `pos_corr` offsets directly inside the `phot.fit()`.  Currently the sole argument of `phot.fit()` is `tpf_flux`.  AMC and I suggest the following change:
Instead of taking `tpf.flux` as an argument, make it take in `tpf`.  This way, the fitting code will have access to `tpf.poss_corr1` (and 2).

poss_corr would be used to *shift* the p

[2018-04-19 23:45] gully opened #110 "Bad priors do not produce error message in PRF-fitting"
We (intentionally) mis-specified the prior as being completely outside the bounds of the TPF window to see what would happen.  `phot.fit(tpf.flux)` returns the an array of prior.mean with no indication that the fit failed.

[2018-04-23 17:34] scfleming commented on #108
Oops, we can fix this!  I'm on it.

[2018-04-25 19:55] scfleming commented on #108
This should be fixed in the database if you want to verify.

[2018-04-26 03:58] barentsen commented on #108
Assigning to @christinahedges to verify that the issue has been resolved!

[2018-04-27 22:05] dfm opened #114 "Here's an example of using lightkurve to do asteroseismology"
As requested by @christinahedges

https://gist.github.com/dfm/0fba6dae50bbbe110417b0a249ae78d5

[2018-04-28 10:09] mirca commented on #114
👏 👏 👏

[2018-04-30 23:05] christinahedges opened #115 "Lightcurve should have a Gaussian process based flatten routine"
Savgol is quick but pretty terrible at flattening data. We should instead use celerite and a gaussian process. This is much more principled and will give us errors to propagate.

We can have it accept a mask to remove transits and burn ins due to down time.

It should behave the same as regular flatten, either correcting the light curve or returning a light curve object with the flat trend.

There

[2018-04-30 23:18] christinahedges commented on #115
![gpdemo](https://user-images.githubusercontent.com/14965634/39454779-1d0678d2-4c92-11e8-83c0-1044a0cea25d.png)
![gpdemo2](https://user-images.githubusercontent.com/14965634/39454780-1d1d7fd2-4c92-11e8-987f-98db947075b4.png)

[2018-04-30 23:26] christinahedges commented on #115
# A quick demo for how to flatten K2 data with a GP.

Note: This demo is not complete, need to add marginalization over the errors in the hyperparameters of the GP to have realistic errors.

[code]

[code]

[code]

[code]

    Found 1 File(s)
    INFO: Found cached file ./mastDownload/Kepler/kplr010187017_lc_Q111111111111111111/kplr010187017-2009259160929_llc.fits with expected size 466560. [astro

[2018-05-03 17:15] gully opened #116 "NaN times are possible for certain quality masks."
I see NaN times when I use a quality_bitmask=None:

[code]

Many of these NaN times have quality values of 98304, which indicates *'No fine point', 'No data'*.
The possibility of NaN times is not necessarily a bug, and will likely only occur when quality_bitmask=None, since these quality flags are masked by default.  However, their presence does raise the question of whether we want to build in re

[2018-05-03 17:31] mirca commented on #116
It would be nice to have tasks that can handles NaNs properly. In the meanwhile,
I think expanding the documentation a bit would help with this issue. Something like:
[code]

[2018-05-03 18:43] christinahedges opened #117 "Can not create a new KeplerLightCurve object"
I used to be able to create KeplerLightCurve objects, but this now breaks.

![image](https://user-images.githubusercontent.com/14965634/39596424-2aa782f6-4ec7-11e8-8be9-02d57e9b5a5c.png)

[2018-05-03 18:47] christinahedges commented on #117
I think this might actually be better, I should be using the blank `LightCurve` object, `KeplerLightCurve` object is something more specific?

[2018-05-05 00:33] #109 closed

[2018-05-05 00:34] #98 closed

[2018-05-05 01:06] #101 closed

[2018-05-05 01:06] #102 closed

[2018-05-05 22:37] barentsen commented on #117
I cannot reproduce this bug.  Plus there are several unit tests that do the same and don't fail. @christinahedges can you double-check that this happens for you on the master branch?

![image](https://user-images.githubusercontent.com/817669/39668127-0a907a9a-507a-11e8-80f6-d7b75a900bba.png)

[2018-05-05 22:42] barentsen commented on #108
I verified that the example reported at the start of this issue is resolved at MAST.  Thanks @scfleming!!

[2018-05-05 22:42] #108 closed

[2018-05-06 18:53] barentsen opened #120 "`KeplerTargetPixelFile.interact()` tutorial does not compile"
Running `make html` in `docs/` fails with error:
[code]

It looks like the `KeplerTargetPixelFile.interact()` tutorial does not compile.  @gully can you look into this? (e.g. may have to replace the widget with an animated gif).  I am going to remove the tutorial for now and open a PR to add it back in.

[2018-05-07 23:12] barentsen opened #122 "Lightkurve installation docs should not recommend `--no-deps`"
I think astropy recommends `pip install ... --no-deps` because they only depend on numpy, which is usually available and used to be a pain to compile with pypi.  We have a bunch of dependencies that need to be installed, so we don't want to recommend `--no-deps`.

[2018-05-11 19:07] #122 closed

[2018-05-11 19:36] barentsen commented on #120
Yes, I deleted the checkout and encounter the same error.  Can you not reproduce it?

[2018-05-15 03:12] barentsen opened #125 "Add a `plot_kepler_ffi()` convenience function"
@christinahedges prototyped the implementation as follows:

[code]

[2018-05-15 03:12] barentsen commented on #120
This was fixed by merging #121.  Closing!

[2018-05-15 03:12] #120 closed

[2018-05-21 17:27] rrpastro opened #126 "lightkurve.interact() issue"
Hey,
I upgraded lightkurve to its new version and tried to use tpf.interact() feature in Python 3.6.3 environment. I can see the features lighkurve.KeplerTargetPixelFile.from_archive() and tpf.plot()  working properly. But, I can't use the feature lightkurve.interact(). Would you please suggest to check/add anything else for making tpf.intract() work.
Thanks in advance.
Rishi

[2018-05-21 21:07] JeffLCoughlin opened #127 "lightkurve interact() crashes when calling ipywidgets"
I've tried to use interact() on two different linux machines (Linux Mint 17.3 in one and 18.3 in the other), and am getting this error in both. Both using v1.0.b5 of lightkurve, both installed via pip. Traceback and other info is below - happy to provide anything else that's useful. Thanks!

jeff@jeff-msi ~ $ python
Python 2.7.13 |Anaconda custom (64-bit)| (default, Dec 20 2016, 23:09:15)
[GCC 4.4

[2018-05-22 12:58] mirca opened #128 "[DOC]: some maths are not being rendered correctly in the SFF tutorial"
The arclength integral is not correctly rendered

![screen shot 2018-05-22 at 9 56 34 am](https://user-images.githubusercontent.com/13077051/40363656-8cada6f4-5da6-11e8-9f74-d1af55069433.png)

[2018-05-22 17:18] mirca commented on #128
I don't think it's your fault, I tried to build the docs as well and got the same error

[2018-05-22 18:20] mirca commented on #128
Ok, fixed that in https://github.com/KeplerGO/lightkurve/commit/7ea99d532041118a99630014ce70c858d5854c46

[2018-05-22 18:20] #128 closed

[2018-05-23 14:51] rrpastro commented on #126
Hi Ze, I see the version of lightkurve I am using is 1.0.b4.

[2018-05-23 15:03] rrpastro commented on #126
This means my previous update failed. I will try again and let you know if I get any issue. Thanks for your help @mirca.

[2018-05-23 17:21] JeffLCoughlin commented on #127
Just a note I upgraded all my packages to latest versions via conda and pip, and the error still occurs.

[2018-05-23 17:32] JeffLCoughlin commented on #127
I fell victim to not RTFM. I wasn't running in a Jupyter Notebook and the interact page clearly says " This method can only be run in a Jupyter Notebook at the moment, and is limited to lightcurves with fewer than 30000 cadences."   Maybe it could be bolded for people like me heh. Closing issue.

[2018-05-23 21:18] barentsen commented on #128
Thank you @mirca!! :+1:

[2018-05-23 21:20] barentsen commented on #127
This is a bug.  We need to make sure that a helpful error message is printed when a user tries to use `interact()` in the terminal.  @gully can you look into this?

[2018-05-24 15:52] mirca commented on #126
Hi @rrpastro,

weird... Could you look for ``lightkurve`` after you type ``conda list`` on
your terminal and tell us how many ``lightkurve`` installations you see
there?

Thanks!

On Thu, May 24, 2018 at 12:44 PM, rrpastro <notifications@github.com> wrote:

--
webpage: http://mirca.github.io
github: @mirca <http://www.github.com/mirca>
twitter: @mircaze <http://www.twitter.com/mircaze>

[2018-05-24 16:16] mirca commented on #126
Ok, then let's try installing the ``dev`` version as follows:
[code]
after that you should definitely see ``lightkurve`` in the list of packages after you type ``conda list``, and you should also see ``<pip>`` in the ``Build`` column.

After you do that, could you try executing `interact()`?

Thanks.

[2018-05-24 16:40] mirca commented on #126
You don't have to take any particular action in that as long as the ``pip`` you are using comes from your anaconda. For example, if you type ``which pip`` you should see something like ``/Users/YOUR_USER_NAME/anaconda3/bin/pip``.

The output of ``conda list`` is the list of packages installed in your particular conda environment. This list should, in general, show you at least three columns, namel

[2018-05-24 17:04] rrpastro commented on #126
Ok I have installed again. But, I want to explain the errors. First I tried to install without using sudo, which gave me error: "Permission denied". Then I installed using sudo. Still I see the error:

"The directory '/Users/rishipaudel/Library/Caches/pip/http' or its parent directory is not owned by the current user and the cache has been disabled. Please check the permissions and owner of that d

[2018-05-24 17:19] mirca commented on #126
If you use ``sudo`` then you are invoking the ``pip`` which comes from your system, which is probably somewhere in `/usr/local/bin`. Installing Python packages with ``sudo`` is not a recommended practice, see [here](https://askubuntu.com/questions/802544/is-sudo-pip-install-still-a-broken-practice), for instance.

The thing is: your system's ``pip`` is different from the ``pip`` that comes with An

[2018-05-24 18:49] rrpastro commented on #126
``which pip`` gives: /Users/rishipaudel/astroconda/bin/pip, which means pip comes from conda environment.

If I try to install by using ``pip install -e .``, I get the error message:
PermissionError: [Errno 13] Permission denied: '/Users/rishipaudel/astroconda/lib/python3.5/site-packages/numba-0.28.1-py3.5-macosx-10.6-x86_64.egg-info/PKG-INFO'.

And if I try to install using 'sudo', I get the erro

[2018-05-24 20:35] mirca commented on #126
Yeah, I guess I'm not sure what's going on then. Did it work after you try ``python setup.py install``?

[2018-05-24 20:47] rrpastro commented on #126
For now I cannot use that option as well. I will need more commands:

python setup.py [global_opts] cmd1 [cmd1_opts] [cmd2 [cmd2_opts] ...]

which I don't know. It is a very helpful feature for me as I am working on pixel level photometry and I want to know if there two sources closeby in some cases. But sadly, I am not able to install it properly.

[2018-05-24 21:55] mirca commented on #126
Ok so, how about you create a clean conda environment and install
lightkurve, using pip install lightkurve, into it?

On Thu, May 24, 2018 at 5:47 PM rrpastro <notifications@github.com> wrote:

--
webpage: http://mirca.github.io
github: @mirca <http://www.github.com/mirca>
twitter: @mircaze <http://www.twitter.com/mircaze>

[2018-05-25 16:37] rrpastro commented on #126
Hi @mirca,

I reinstalled anaconda today. I can see
lightkurve 1.0b5 <pip>
after installing lightkurve executing conda list.

Now, I still have some problem:
lightkurve.__version__ is still giving 1.0.b4 in jupyter notebook.

When I import lightkurve in ipython, I get the same version.

I don't know where lightkurve 1.0.b4 is installed. Is there command to override the old version with new version

[2018-05-25 17:14] mirca commented on #126
AFAIK, there is no such command.

Could you create a clean environment and try lightkurve in there?

You could do that with the following commands:
[code]

[2018-05-25 17:33] rrpastro commented on #126
Finally, it worked. Thank you very much @mirca.

[2018-05-25 17:47] mirca commented on #126
Yes!! :)

[2018-05-25 17:47] #126 closed

[2018-05-29 16:23] KenMighell opened #129 "The LightCurve remove_nans method functionality changed --- now breaks a tutorial"
**The LightCurve remove_nans method functionality changed --- now breaks a tutorial**

Short version:

The "Science with lightkurve" tutorial "How to perform aperture photometry with custom apertures"
is now broken after using the LightCurve remove_nans method.

Long version:

In the "Science with lightkurve" tutorial "How to perform aperture photometry with custom apertures" an attempt is made to

[2018-05-29 19:54] KenMighell commented on #129
Looks like the error is  not in the remove_nans method but rather in the append method.

![screen shot 2018-05-29 at 12 42 44 pm](https://user-images.githubusercontent.com/17578185/40681397-db2fbd70-633d-11e8-849a-d3cd3556dc4e.png)

This is the source for the append method:

![screen shot 2018-05-29 at 12 43 51 pm](https://user-images.githubusercontent.com/17578185/40681458-020c273a-633e-11e8-8c8c

[2018-05-29 23:18] KenMighell commented on #129
The new one-line addition of

    new_lc.cadenceno = np.append(new_lc.cadenceno, others[i].cadenceno)

in the LightCurve append method given in the lightcurve.py file in my
pull request #130 should probably be replaced with the following:

    if hasattr(new_lc, 'cadenceno'):
        new_lc.cadenceno = np.append(new_lc.cadenceno, others[i].cadenceno)

I did not realize that only some (not all) Lig

[2018-05-30 09:21] shishirdholakia opened #131 "C15 Lightcurves and TPFs inaccessible through from_archives method"
I'm still not able to access lightcurves or TPFs from Campaign 15. Although a issue #87 and issue #81 have already been raised about a similar error, it's been a couple months, leading me to think this is a different problem.

Running this line from the tutorials:

`from lightkurve import KeplerTargetPixelFile
tpf = KeplerTargetPixelFile.from_archive(249928278, campaign=15) `

Gives me the error:

[2018-05-30 14:38] barentsen commented on #131
Thank you for reporting this @shishirdholakia!  I am able to reproduce this problem.  I am going to ping MAST to understand why C15 data does not show up.  /cc @scfleming

[2018-05-30 16:09] scfleming commented on #131
Confirmed and looking into this on our side.

[2018-05-30 17:21] KenMighell commented on #129
Pull request https://github.com/KeplerGO/lightkurve/pull/132 implements this suggested addition to the LightCurve append method:

    if hasattr(new_lc, 'cadenceno'):
        new_lc.cadenceno = np.append(new_lc.cadenceno, others[i].cadenceno)

This 2-line change is more general than the 1-line change of Pull request https://github.com/KeplerGO/lightkurve/pull/130 and should work for Kepler **and**

[2018-05-30 19:28] scfleming commented on #131
This was due to a database error, we switched to a new version and there was an error in one of the parameters that made these data hidden instead of public.  You should now be able to see C15 data.

I'm working on C16 now, and also need to check that C15 short cadence and the C2 reprocessed data were added to the Portal, and get those updated if not.

[2018-05-31 17:19] christinahedges commented on #48
I don't think this is a priority. I don't really know why users would need this. I'm going to close it.

[2018-05-31 17:19] #48 closed

[2018-05-31 17:21] christinahedges commented on #55
I have inline automatically apply to all my notebooks so I don't need it. I can add this back into the tutorials.

[2018-05-31 17:22] christinahedges commented on #46
This issue is duplicates in #56

[2018-05-31 17:22] #46 closed

[2018-06-04 23:03] christinahedges commented on #117
@AndyTza I'm going to ask you to test this and find out of it is still a real error. If it is a real error, post it here with a screen cap and come up with a fix.

C

[2018-06-04 23:38] #117 closed

[2018-06-04 23:44] christinahedges commented on #78
@AndyTza, try this one on for size.

First you can watch this youtube video on how to use the SFF corrector in lightkurve
https://www.youtube.com/watch?v=gmVg7MIehd4

The written copy of the tutorial is here
http://lightkurve.keplerscience.org/tutorials/2.01-how-to-detrend.html

Follow these steps
* Reproduce the issue
* Screenshot it breaking and add it here
* Find where in the code it is breakin

[2018-06-04 23:57] amcody opened #133 "Have TPFactory calculate and output poscorr values"
It would be very helpful for the TPFs created by the target pixel factory to be populated with poscorr values, if the WCS is available or the original fits files. This will be useful for psf fitting photometry, to use moving priors.

[2018-06-05 13:27] mirca commented on #129
Thanks for the contribution @KenMighell!

[2018-06-05 13:27] #129 closed

[2018-06-05 13:37] mirca opened #134 "Implement breakpoints method in SFFCorrector"
This issue is just to add a minor note that this method currently raises a ``NotImplementedError``.

[2018-06-06 00:01] christinahedges commented on #134
@mirca this docstring is kind of opaque:

`     Return a break point as a function of the campaign number.
        The intention of this function is to implement a smart way to determine
        the boundaries of the windows on which the SFF algorithm is applied
        independently. However, this is not implemented yet in this version. `

What exactly do you want this function to do?

[2018-06-06 00:04] christinahedges commented on #116
Why are these not taken care of by the `remove_nans()` function?

`remove_nans()` should remove cadences where `time` and/or `flux` are nans.

It could optionally have a keyword to drop the nans in the `flux_err` as well. @andytza, try this one out instead.

* Fix the remove_nans() function to remove nans in time
* Add a unit test to test_lightcurve.py to verify that nans in time are removed.

[2018-06-06 00:05] AndyTza commented on #78
<img width="1136" alt="screen shot 2018-06-05 at 5 04 13 pm" src="https://user-images.githubusercontent.com/22720676/41008903-9ac0a3d0-68e2-11e8-9918-cea9601c28cd.png">

Couldn't reproduce the same error.

[2018-06-06 00:07] christinahedges commented on #78
@barentsen I'm closing this since Andy can't reproduce it. If it's still a problem for you let's look at it together?

[2018-06-06 00:07] #78 closed

[2018-06-06 15:28] mirca commented on #134
Usually the data within a given campaign experiences different profiles of motion systematics. Splitting the lightcurve on those times where the systematics are different would help to infer the motion profile more accurately. This process is done, albeit hard-coded, in K2SC.

[2018-06-06 16:08] christinahedges commented on #134
Ok, cool. How would a 'break point function' work or what it would do? Will it return the point where the motion vectors change (roughly the middle of the campaign), or will it break a light curve at the best point and apply SFF?

[2018-06-06 17:11] mirca commented on #134
I believe that would do the trick. Data gaps, for example, could also be used as breakpoints.

[2018-06-06 18:38] christinahedges opened #135 "PSF fitting in crowded fields should not be able to fit source locations independently."
I don't quite agree with the way we do PSF photometry currently for crowded fields. If we make the assumption that targets are static and always maintain the same separation on the sky then we should be fitting for one spacecraft motion vector as a function of time and one 'scene' location variable as a function of x and y.

(This assumption is not strictly true, but a good approximation for small

[2018-06-06 18:39] christinahedges opened #136 "tpf's should have an attribute which returns the PRF at that location."
We need a convenience function to generate the PRF based on the dithered models.

Currently the way to generate a PRF is

`prf = SimpleKeplerPRF(channel=tpf.channel, shape=tpf.shape[1:], column=tpf.column, row=tpf.row)`

A TPF should be able to generate a model since it has all the information. `tpf.prf()` should return a `SimpleKeplerPRF()` object which has the correct channel, column, row and sh

[2018-06-06 18:46] christinahedges opened #137 "Automagically generate priors using Gaia"
Priors are currently a pain in PSF photometry with lightkurve. I would like a function that automagically creates uniform priors for the

* RA
* Dec
* Flux

based on Gaia values. The flux priors may have to be quite wide, to allow for any source variability and errors in zeropointing Kepler to Gaia.

This will be satisfying, as this is really prior information.

We will then use the work from #111

[2018-06-06 18:46] christinahedges commented on #137
@gully, what are your thoughts?

[2018-06-06 18:51] christinahedges commented on #135
@gully this is what I mean. @mirca do you have thoughts on this?

[2018-06-06 19:14] christinahedges opened #138 "from_archive() should return a new 'Collection' class instead of a list."
@barentsen:

This sounds great to me. Much better than a list. We can make sure it has a clear repr and if people try to use methods (e.g. to lightcurve) it provides a clear warning error.

How do we want to index the collection though? It might be nice if we're able to specify the keplerid to get back the right tpf:

`tpfc.205189451`
`tpfc[0]`

[2018-06-06 19:19] gully commented on #137
Let's separate out the "Create a tool that silently queries Gaia", to be its own atomic feature / issue, since that functionality is applicable to other purposes like the interactive "TPF sky view" tool we have on the (metaphorical and literal) drawing board.  The presently proposed function--a good idea-- hinges on such a tool existing.

[2018-06-06 19:48] mirca commented on #135
I couldn't agree more with this!

If you don't want to touch the RA/Dec part initially, I think the way to implement this would be:

1) use some good frame to jointly fit the centroids of all sources as ``(x1, y1), (x1 + dx2, y1 + dy2), (x1 + dx3, y1 + dy3)...``
2) for the rest of the frames, fix ``dx2, dy2, dx3, dy3...`` and only fit for ``(x1, y1)``.

This reduces the number of parameters fitted

[2018-06-06 19:55] mirca commented on #136
I think ``KeplerTargetPixelFile.get_prf_model`` fulfills these requirements.

[2018-06-06 20:00] barentsen commented on #138
This begs the question, should cone searches be supported via `KeplerLightCurveFileCollection.from_archive()` or `KeplerLightCurveFile.from_archive()`.  The advantage of the former is that you always know what `from_archive` returns, the disadvantage is that it is yet another class that users need to remember and import.

[2018-06-06 20:30] christinahedges commented on #138
Yeah...it's true. I don't know what the answer is here. Perhaps we need KeplerLightCurveFileCollection.from_archive() and tpf.conesearch?

tpf.conesearch would return a KeplerLightCurveFileCollection

[2018-06-06 20:32] christinahedges opened #139 "from_archive() returns two target pixel files if you ask for quarter 11 K2 data"
This is actually expected behavior because there are two campaigns. Similarly if you use

`KeplerTargetPixelFile.from_archive('K2TargetName', quarter=9)`

You will get back two TPFs, one from 9a and one from 9b. If you want just one of them you have to ask for

`KeplerTargetPixelFile.from_archive('K2TargetName', quarter=91)`

I think this is good behavior but it's not what people expect when they

[2018-06-06 20:33] christinahedges commented on #139
@barentsen how do you feel about this behavior?

[2018-06-06 21:48] mirca commented on #136
My true goal is to reach geert-like heights of jokes

[2018-06-06 21:58] christinahedges opened #140 "pytest-cov should be a dependency"
Tests don't run unless users have pytest-cov installed. This should be a dependency? @barentsen can you fix this?

[2018-06-06 22:01] mirca commented on #140
It's already there: https://github.com/KeplerGO/lightkurve/blob/master/setup.py#L31

[2018-06-06 22:06] christinahedges commented on #140
That's weird the interns couldn't run the unit tests because they didn't have py.test-cov installed. Why is that?

[2018-06-06 22:26] christinahedges commented on #140
I care @mirca.

Alright no problem then, closing! Thanks!

[2018-06-06 22:26] #140 closed

[2018-06-06 22:54] barentsen commented on #140
We should explain this in the docs!

[2018-06-06 23:08] christinahedges opened #142 "PRFPhotometry can fit values outside of uniform priors."
PRFPhotometry is trying to fit a PRF outside of the priors I've specified.

![screen shot 2018-06-06 at 4 06 38 pm](https://user-images.githubusercontent.com/14965634/41069646-bda94aa2-69a3-11e8-991a-416179629bfc.png)

[2018-06-06 23:18] christinahedges commented on #142
Lower bound and upper bounds were flipped around. Whoops.

[2018-06-06 23:18] #142 closed

[2018-06-06 23:43] mirca commented on #142
I fixed that on oktopus side. Now, a ``ValueError`` is raised in this case.

[2018-06-06 23:49] christinahedges commented on #142
@mirca. You hero.

[2018-06-07 04:11] barentsen commented on #138
I like `KeplerTargetPixelFile.conesearch()`.  Alternatively, it could be a module-level function (i.e. `from lightkurve import keplertpfsearch`).  The choice between the two depends on readability and ease of use. I guess the former wins in that regard.

[2018-06-07 16:25] barentsen opened #143 "MAST Portal does not return light curve files for K2 Campaign 2"
Siegfried Vanaverbeke reported the unexpected error below via e-mail.  I diagnosed the issue to be the fact that K2 Campaign 2 lightcurves (released at K2 MAST on 5/4/18) are not accessible via the MAST Portal API yet.

@scfleming or @mustaric can you have a look?  Thanks++.

[code]

[2018-06-07 16:28] scfleming commented on #143
Hi Geert,

Yep, I caught this a little while ago and is literally being done now and in testing very soon, should be out in a matter of days.  This is mostly on me, the data may have been public while I was on travel or busy and forgot to initiate the whole process for getting them updated.

[2018-06-07 16:29] barentsen commented on #143
Thanks @scfleming!

Note: I believe this may be the first K2 Campaign for which we released short-cadence lightcurves (in addition to long cadence ones).  This may or may not be a caveat!

Thanks+++

[2018-06-07 16:30] scfleming commented on #143
Yep, also adding short cadence for c2, c15 and c16 with this incoming update.

[2018-06-07 17:29] barentsen commented on #138
Noting here that if we move the conesearch functionality from `from_archive()` to `conesearch()`, we have to update the rolling band tutorial (#113), and possibly other tutorials.

[2018-06-07 17:43] barentsen commented on #139
I'm getting ever more convinced that the Right Way forward is to have `from_archive` always return either 1 file or a helpful error message, and require the use of `conesearch` for multiple files. It's going to be less confusing!

[2018-06-07 17:44] christinahedges commented on #139
Yep I think that sounds good to me.

[2018-06-07 20:58] christinahedges opened #144 "Do we need a lightcurve.from_csv() function?"
I'm not certain this is definitely super useful, but some people might find it handy? It would essentially just wrap pandas.from_csv().

[2018-06-07 21:03] christinahedges opened #145 "lightkurve should have a logger"
There should be a lightkurve logger that we can use to print error messages and warnings to the users.

[2018-06-07 21:13] barentsen commented on #145
Agreed!  I think it should be a very lightweight wrapper around Pythons built-in `logging` module.

[2018-06-07 21:16] christinahedges commented on #145
Yeah I recommend we use logging too, it doesn't even really need a wrapper you just need to great an object and then use it for warnings/info/debug messages

[2018-06-07 21:16] barentsen commented on #144
Yes!  In addition, we need a tutorial showing how to instantiate a `LightCurve` object from various non-Kepler file formats that astronomers are likely to use (ascii, csv, excel?)

[2018-06-07 22:31] #116 closed

[2018-06-07 22:56] benmontet opened #148 "Downloading target from archive returns data for a different, nearby star"
It's trying so hard to do a good job, but accidentally grabs a star 4 arcsec away (both have defined and downlinked apertures, which happen to touch each other)

[code]
The star it gets is one pixel away from the one I want. My guess is that there's a radius search behind the scenes, and there's some bad conversations to and from RA and Dec and it's not accounting for the fact that it knows the tr

[2018-06-07 23:13] barentsen commented on #148
Thank you for reporting this @benmontet!  I believe your diagnosis is spot on.

We may be able to solve this by explicitely passing `target_name` to the `astroquery.mast` interface when something looks like an EPIC or KIC id. I believe we didn't do this because we thought this may never be an issue.  Identifying an EPIC for which this is an issue is super helpful. Let's make it a unit test!

[2018-06-08 13:48] svaverbe commented on #143
How do we have to choose between long cadence and short cadence in Lightkurve ?

[2018-06-08 19:10] barentsen commented on #143
@svaverbe: the syntax is

`lcf = KeplerLightCurveFile.from_archive(target, cadence='long')`

or

`... cadence='short'`

[2018-06-09 17:25] barentsen opened #149 "Docstrings need to clarify that Kepler times are in TDB"
The times in the Kepler data products are in the Barycentric Dynamical Time frame (TDB), which is a time system that does not include the leap seconds.  We need to make sure that lightkurve clarifies this in the docstrings that relate to times.  We can refer to Section 2.1.2 of the Kepler Archive Manual for details.

[2018-06-10 21:55] #103 closed

[2018-06-11 16:20] barentsen opened #154 "Print a friendly error message when `interact()` is called from a Python shell (instead of a notebook)"
See #127 for a user experience we want to improve.

[2018-06-11 16:25] barentsen commented on #127
I made a new issue to make sure we add a friendly error message (#154) so we can close this.

[2018-06-11 16:25] #127 closed

[2018-06-11 18:16] christinahedges commented on #145
Fixed in #150

[2018-06-11 18:17] #145 closed

[2018-06-11 20:35] #148 closed

[2018-06-11 22:41] JeffLCoughlin commented on #144
I imagine this might be part of the future ability to get some HLSPs that are in ascii/csv right now easily into FITS format?

[2018-06-12 00:13] JeffLCoughlin commented on #149
Yes it's good to be specific that BKJD given in the FITS files is BJD_TDB and has been corrected to account for leap seconds from UTC, as opposed to BJD_UTC which would include visible leaps in the data.

[2018-06-12 23:20] christinahedges opened #160 "Kepler should have a rogues' gallery of unusual behaviour."
The gallery should include

### EPIC 212285811
Credit: Hugh Osborn ([tweet](https://twitter.com/exohugh/status/996433250129252352))
Shows cross talk from a bright moving object causing a negative flux source to move over the target.
![image](https://user-images.githubusercontent.com/14965634/41322176-73d90f9e-6e5c-11e8-9707-f622ca2181cd.png)

### EPIC 201736342
Credit: Ryan Ridden-Harper
Shows a m

[2018-06-12 23:46] barentsen commented on #149
This has been fixed as part of #159!  Closing ...

[2018-06-12 23:46] #149 closed

[2018-06-12 23:59] barentsen commented on #148
@benmontet This bug fix is now live on pypi as part of `lightkurve v1.0b7`.  Can you let us know whether you are, indeed, a happy Ben?

[2018-06-13 04:54] benmontet commented on #148
It is working for me locally on v1.0b7. I am indeed a happy Ben. But let's be honest, I am already happy every time I get a chance to interact with your lovely team!

[2018-06-13 18:28] barentsen commented on #148
True!  I am happy every day I get to interact with our lovely team!

[2018-06-13 20:52] scfleming commented on #143
@svaverbe @barentsen Campaigns 2, 15, and 16 (both long and short) and now in the Portal and also should be available in the API.  Please let me know if you encounter any problems!

[2018-06-13 22:05] barentsen commented on #143
@scfleming Awesome!!  I confirm the issue posted above has been resolved! :tada::balloon:

[2018-06-13 22:05] #143 closed

[2018-06-13 23:05] ssagear opened #161 "Injection and recovery tool for lightkurve"
Instrumental artifacts often make it difficult to distinguish real astrophysical phenomena on long timescales. Lightkurve could include a tool for injection and recovery to quantify the extent of instrumental artifacts on astrophysical signals of interest. These signals could include supernovae, transits, rotation and flares.

I propose a method in the `lightcurve` class called `.inject` that will

[2018-06-14 08:57] svaverbe commented on #143
Indeed the issue seems to have been solved.

Thanks,

Siegfried

Van: Geert Barentsen [mailto:notifications@github.com]
Verzonden: donderdag 14 juni 2018 00:05
Aan: KeplerGO/lightkurve <lightkurve@noreply.github.com>
CC: svaverbe <sigfried.vanaverbeke@telenet.be>; Mention <mention@noreply.github.com>
Onderwerp: Re: [KeplerGO/lightkurve] MAST Portal does not return light curve files for K2 Campaign

[2018-06-15 18:16] ssagear commented on #161
**Discovery of Available Parameters**

.inject_sn right now allows the user to choose the source of the supernova model (if it is built into sncosmo), but it depends on the user already knowing what parameters are taken by that source.  The method should be able to tell the user what parameters a certain source takes.

**Synthetic Light Curve Class**

It might also be good to have a "synthetic lig

[2018-06-15 18:32] ssagear commented on #161
**Normalization of Light Curves**

All light curves will be normalized to 1.0 - supernova signals will be added, and transit signals will be multiplied. This assumes no background flux (background flux is additive) - maybe add a flag.

**Units of Supernova amplitude**

Convert the model output from sncosmo from [photons/s/cm^2] to [electrons/s]
([electrons/s] must then be converted to counts).

[2018-06-15 19:20] ssagear commented on #161
**Implementation of Inject Methods**

We might include methods like .inject.supernova() or .inject.transit() instead of different methods for each astrophysical signal we want to inject.

@barentsen raises the possibility of supporting adding models to lightcurves:
[code]
`model` only possesses a functional form, but is not actually a model light curve.
We have decided to revisit these abstraction

[2018-06-15 22:27] christinahedges opened #165 "from_archive() outputs a message that cannot be silenced."
Since PR #150 the verbose keyword has been removed from from_archive. However it still prints an ugly message that cannot be silenced. We could capture this information and output it to the logger as debug information if we thought this was important? Or we could just always silence it.

![image](https://user-images.githubusercontent.com/14965634/41491883-912a2154-70b0-11e8-8130-7409c53c907d.png)

[2018-06-15 22:59] barentsen commented on #165
But you can silence this with `log.setLevel('WARNING')` right?  So the issue is that astroquery outputs it as `info` rather than `debug`?

I quite like that fact that, when a Python package downloads something, it is verbose about it by default (because downloads often hang your code on a plane etc...)  If setting `log.setLevel()` is too cumbersome, we could re-introduce a `verbose` argument that

[2018-06-15 23:01] christinahedges commented on #165
But there's no log level that will get rid of the message above.

[2018-06-15 23:14] barentsen commented on #165
You're right.  The issue is that astroquery's `_download_file` produces this message using a progressbar, not the logging module.  Hmmmmm.

[2018-06-20 23:20] Emmavt opened #166 "TargetPixelFileFactory automatically sets WCS to wrong coordinates"
Hi all,
#### Problem description
I have run into some issues when using the Kepler TargetPixelFileFactory to cut out TPFs from superstamp images, namely that the WCS is taken from a template file. The WCS is still there in the TPF object, but it is incorrect, as it has been taken from this template file. Christina and I discussed the issue, and think that in order to resolve it, either the WCS nee

[2018-06-20 23:21] christinahedges commented on #166
This can be fixed by just removing the WCS from the template. We could also fix TPFFactory to pass along the WCS to the final file, that may be harder.

[2018-06-20 23:31] Emmavt commented on #166
I have found that this is also an issue with the column and row, which are also being taken from the template file.

[2018-06-21 00:15] AndyTza opened #167 "tpf.pos_corr becomes zero after calling tpf.get_coordinates()"
#### Problem description
When the user calls the function tpf.get_coordinates(), tpf.pos_corr is 0 for all values. After re-running the tpf

#### Example

[code]

#### Expected behavior
tpf.pos_corr should return non-zero values.

[2018-06-21 01:12] amcody commented on #166
I have solved this problem in my local version of the code (err, the code that TPFfactory originated from, TPFmaker). It's still a bit of a kludge, but I can share when I'm in next. I think what I did was to rewrite the row, column, and RA/Dec solution in the template so that they're correct. We can explore other options. Also need TPFfactory to calculate and save pos_corr values.

[2018-06-21 17:03] barentsen commented on #166
When we added `TargetPixelFileFactory` just before the tess.ninja meeting, we did not have time to implement proper treatment of the WCS.

@amcody could you or @Emmavt work on preparing a PR that provides a more permanent solution in lightkurve?  I wonder if the solution is to adjust the CRPIX1 and CRPIX2 keywords to reflect the fact that an area has been cut out?

[2018-06-21 18:52] amcody commented on #166
Yes, CRPIX1,2 and some other header keywords are what I changed. I am going to upload my revised TPFmaker code to github, and then @Emmavt can take a look and see if she can port the changes over to TargetPixelFileFactory.

[2018-06-25 18:59] johnnyzhang295 opened #170 "Lightkurve tutorial uses deprecated plot functions"
The current matplotlib plot() function defaults to a linestyle which makes it difficult to see individual plotted points. As a result, the plots that new users create will look different than the tutorial images.

Use  `.plot(linestyle=' ')` to get plots that match the tutorial.

[2018-06-25 21:50] christinahedges commented on #70
Fixed in #147

[2018-06-25 21:50] #70 closed

[2018-06-25 21:50] christinahedges commented on #167
Fixed in #168

[2018-06-25 21:50] #167 closed

[2018-06-26 15:01] barentsen opened #171 "Add instructions for running unit tests to the docs"
The instructions should also explain the difference between running `pytest` and `pytest --remote-data`.

[2018-06-26 16:24] barentsen opened #172 "Docs: demonstrate how to load a local target pixel file"
Both the quickstart guide and the "what are target pixel files?" tutorials in the docs only use `KeplerTargetPixelFile.from_archive()`.  We need to add an example of opening a local file from disk.

(I just received a query from a user who couldn't figure out how to open a local file.)

[2018-06-26 19:51] gully commented on #165
Maybe make an issue / pull request in Astroquery to silence progressbar output upon request?

[2018-06-26 20:16] barentsen commented on #165
Right, I think a PR to astroquery would be a solution.  (Though it wouldn't be until the next astroquery release for the fix to become available.)

[2018-06-27 15:39] johnnyzhang295 opened #175 "Unable to import FoldedLightCurve from lightcurve.py"
Using ipython 6.2.1, I run the command:

`from lightkurve import FoldedLightCurve`

and I get an ImportError that looks like:
`ImportError
<ipython-input-1-aee3c474c75> in <module>()`
`----> 1 from lightkurve import FoldedLightCurve`
`ImportError: cannot import name 'FoldedLightCurve'`

Same issue also occurs with LightCurveCollection and TargetPixelFileCollection classes.

I think it has somethin

[2018-06-27 15:44] barentsen commented on #175
This is because we use the `__all__` module variable to determine which names get exported from the namespace of a module.  In other words, the solution is to add `FoldedLightCurve` to the `__all__` parameter, here: https://github.com/KeplerGO/lightkurve/blob/master/lightkurve/lightcurve.py#L26

(Same for the collection classes!)

[2018-06-27 17:48] barentsen commented on #175
@johnnyzhang295 seems to be happy so I'm closing this!

[2018-06-27 17:48] #175 closed

[2018-06-29 17:10] IsFlwrs commented on #172
I'd like to take this on. Can you provide some details on the issue please?

[2018-06-29 19:34] barentsen commented on #172
@IsFlwrs Hi!  The source of our documentation lives under the `docs` directory of this repository.  We compile it by running `make html` in that directory (using the `sphinx` documentation framework), and for every release we upload the new version to http://lightkurve.keplerscience.org

Recently a few users contacted me to ask how they can read a local target pixel file using lightkurve.  This ca

[2018-07-02 23:49] christinahedges opened #178 "We should add Guy Davies code too!"
For @christinahedges and @johnnyzhang295, here is Guy Davies astro code! We should get some mash up of this and the code from #114 implemented!

https://gist.github.com/christinahedges/2de4a94fc192e4ff193b733e42d219a4

[2018-07-03 13:50] texadactyl opened #179 ""Quickstart" and "Installation" documentation can benefit from an update"
Very interesting package and excellent documentation.  Thank you.

Constructive feed back:

1. Throughout, the documentation, references are made only to `pip`, the Python 2 package utility.  It should be noted that `pip3` (Python 3 package utility) works well to.  Ditto for `conda` of the popular Anaconda/Miniconda Python packaging strategies (Python 3).  I point this out because a large number o

[2018-07-03 15:14] texadactyl commented on #165
When already in the cache ("Found cached file..."), I cannot see this behavior with WARN or ERROR but I can see the reported behavior with INFO or DEBUG.  So, Astroquery obeys its own log level.

If not yet cached locally ("Downloading ..."), then I see this behavior for any level.  The error seems to be that in {Astroquery treetop}/astroquery/query.py `_download_file`, the progress bar is being e

[2018-07-03 16:54] barentsen commented on #179
@texadactyl Many thanks for taking the time and effort to post constructive feedback, your input is very much appreciated.  We will seek to act on your comments via this issue soon!

[2018-07-03 17:05] texadactyl commented on #179
Happy to assist.  I am a Software Engineer who is a perennial student of Astronomy.

[2018-07-03 17:18] barentsen commented on #179
@texadactyl Astronomy NEEDS YOU =)

[2018-07-03 17:21] texadactyl commented on #179
Mijn gezicht is rood!

[2018-07-04 10:04] keatonb opened #180 ""Keyword 'MISSION' not found." for some fits files"
#### Problem description
Some Kepler light curve fits files downloaded with the wget scripts at https://archive.stsci.edu/kepler/publiclightcurves.html do not have the MISSION keyword in their headers (especially quarter 1 data for KIC 9821777 and above?). This missing keyword renders the data inaccessible to lightkurve.  I have not been able to set the mission attribute manually either. Can this

[2018-07-04 13:56] mirca commented on #180
Hi @keatonb,

thanks a lot for investigating this!

However, I can't reproduce this error when I download the lightcurve file from the archive by doing:
[code]

@barentsen what does this mean with respect to lightcurve files from [here](http://archive.stsci.edu/pub/kepler/lightcurves/tarfiles/)?

[2018-07-04 14:01] texadactyl commented on #180
If you find this ever to be true in the future, Astropy has proposed a header-edit process that worked for me (I was just monkeying around to see if it would work):
http://www.astropy.org/astropy-tutorials/FITS-header.html

Obviously, you need to know what goes in the element you are adding.

[2018-07-04 14:17] keatonb commented on #180
I also found that the individual files on the MAST archive do have this header, but the files in the tarballs (downloaded ~1 month ago) don't always.

[2018-07-04 14:23] texadactyl commented on #180
Okay, I found that particular FITS at
http://archive.stsci.edu/pub/kepler/lightcurves/0098/009821777/kplr009821777-2009166043257_llc.fits
and it seems intact:
[code]

[2018-07-04 14:32] keatonb commented on #180
Here's the full header of the file I have:

[2018-07-04 18:29] texadactyl commented on #180
Thanks for the reference.  Downloading.

Is there any interest in having the FITS files repaired?
MISSION=?
Any other hdu[n] elements need to be added/updated/deleted?

[2018-07-04 22:20] barentsen commented on #180
It looks like the lightcurves in the tarballs under `lightcurves/tarfiles` at MAST are not the final versions.  For example, file `kplr100000926-2009166043257_llc.fits` obtained from `http://archive.stsci.edu/pub/kepler/lightcurves/tarfiles/Q1_public/public_Q1_long_6.tgz` shows the following version info in the header:

[code]

In contrast, the file obtained directly from `https://archive.stsci.ed

[2018-07-04 22:20] #180 closed

[2018-07-04 22:21] barentsen commented on #180
(Many thanks @keatonb for bringing this issue to our attention :+1: :+1: :+1: )

[2018-07-05 19:11] JeffLCoughlin commented on #180
Yes many thanks @keatonb for finding this. I've notified our contact at MAST and will be sure to follow-up with them to fix it. Most of MAST is out today and tomorrow, so I expect a resolution sometime next week.

[2018-07-05 19:17] texadactyl commented on #180
Is that why their domain is down?

[2018-07-06 04:20] christinahedges opened #183 "Large Gaps cause SFF detrending to break."
Large gaps in data break the SFF bspline. We should have something that splits large gaps into chunks. I think #1 might be to do with this?

[2018-07-08 19:02] texadactyl commented on #165
Astroquery issue #1179 was closed/rejected by Astroquery today saying it was a an Astropy issue.

After looking at the Astropy source code, it is apparent that the ProgressBarOrSpinner() API referenced at line 277 in query.py has no way of silencing it.  It would take a design & documentation change to get an enhancement (new quieter function that obeyed the log levels) through Astropy and then it

[2018-07-09 21:42] gully opened #188 "Sometimes lightkurve returns inconsistent endianness"
#### Problem description
We found an example where lightcurve time and flux arrays have different *endianness*, which foils certain model fitting.

#### Example
[code]

#### Expected behavior
We expect both datatypes to be the same, ideally float32.

#### Environment:
We're on the `injrec` branch of lightkurve on @ssagear 's fork.

[2018-07-11 18:15] gully opened #190 "A method in TargetPixelFile to return a "telemetered" boolean mask (flags always-NaN cadences)"
I am requesting a method in TargetPixelFile to get an 'all' mask that excludes always-NaN cadences:

[code]
returns:

[code]

The method could be something as simple as checking if all of the cadences possess NaN values:

[code]

This name may be imperfect and misleading, since other factors could give rise to *always-NaN* values: pipeline-malfunctions or dead pixels.  In practice it won't matter

[2018-07-11 18:19] barentsen commented on #190
The second extension in a TPF encodes the telemetered pixel mask, i.e. `hdu[2].data > 0`. Is a convenience method necessary for this?

[2018-07-12 18:25] JeffLCoughlin opened #192 "Add a from_file() function to load FITS lightcurve file"
#### Problem description
Attempting to use lightkurve to read in a FITS lightcurve file (e.g., ktwo246802680-c13_llc.fits), it was not straightforward in the documentation/tutorials how to do it. I suggest adding a from_file() function to mirror the well-documented w/ example from_archive() function.

#### Example

By asking staff, I was able to use the following commands to load a lightcurve file

[2018-07-12 18:32] JeffLCoughlin opened #193 "Tutorial Not Straightforward On Plotting From Non-Notebook Python"
#### Problem description

After loading a lightcurve file, I followed the tutorial to make a plot. However, the plot never displayed, and no error message was shown. After talking to staff I had issue additional matplotlib commands that were not in the tutorial. Admittedly I am a python neophyte, but I suggest adding a message to the tutorial about reccomeding to run in a notebook, or that additio

[2018-07-13 11:32] barentsen commented on #192
Agreed this can make it more obvious!  Regarding the name, options I can think of include `from_file`, `from_fits`, `from_url`, `from_path`?

Also see #172 and #176 which improve the docs regarding this issue.

[2018-07-13 18:57] JeffLCoughlin commented on #192
Now that you mention it, I like from_fits to differentiate from other possible formats (CSV file or even matlab or who knows what down the road...)

[2018-07-14 18:58] barentsen opened #196 "Add support for other missions"
We should investigate what needs to be done to add support for lightcurves from other missions, telescopes, or high-level science products.

Examples include:
* BRITE smallsats (data archive: https://brite.camk.edu.pl/pub/index.html)
* MOST
* COROT
* Gaia (?)

We'll want to keep a strong focus on Kepler and TESS, but if there are easy things we can do for those missions (e.g. a convenience functio

[2018-07-14 18:59] #192 closed

[2018-07-15 06:01] johnnyzhang295 opened #197 "TessLightCurveFiles Need TargetIDs"
KeplerLightCurveFiles, TessLightCurveFiles, TargetPixelFiles should all have a generic 'targetid' member. As of now, only KLCFs and TPFs have _keplerids_ and it would be good to have a generic id so that we can access to them without knowing their specific mission.

[2018-07-16 03:40] amcody commented on #196
So, I have used MOST and CoRoT data, and as far as I know, neither mission ever made their raw images available. They had pipelines from which they provided light curves to users. Now, could they use our software to make new light curves? Possible-- but given the "past peak" status of both missions, I would suspect their team members have moved on and aren't interested in reprocessing. CoRoT lcs a

[2018-07-17 18:20] JeffLCoughlin commented on #192
I pip installed lasted version, and confirm KeplerLightCurveFile.from_fits() works like a charm. Many thanks!

[2018-07-18 20:09] christinahedges opened #199 "Lightkurve should include a vetting tool that finds FFI images of the opposite region of the focal plane to look for saturated stars that might cause cross talk."
Lightkurve should include a vetting tool that finds FFI images of the opposite region of the focal plane to look for saturated stars that might cause cross talk. This would enable unusual signals to be quickly vetted against bright contaminant stars.

There's no easy way to currently 'find' the opposing modules.

[2018-07-20 20:43] barentsen opened #200 "`tpf.get_model()` does not work when FLUX_BKG is NaN"
The solution will be to change this line:

[code]

...it needs to be robust in case self.flux_bkg is nan.

[2018-07-20 22:04] JeffLCoughlin opened #201 "Use interact() with Short-Cadence Data"
#### Problem description
When attempting to use intereact() on short-cadence TPF file, a RunTimeError comes up due to having more than 20,000 cadences.

#### Example

[code]

[code]

#### Expected behavior
Ideally either a TPF could be trimmed to only include a certain cadence or time range, or interact() could have a variable that controls only including every Nth data point, or intereact() could

[2018-07-20 22:19] JeffLCoughlin commented on #199
Great idea!

Just to be pedantic, across the field of view (reflection off the field-flattener lens) is traditionally referred to as 'anti-podal reflection'.  CCD cross-talk is contamintation from an object at the same row and column on other output of the same module. A tool to look for both, or a tool for each, would be very cool (although cross-talk is far more common than anti-podal reflection

[2018-07-22 21:13] texadactyl commented on #179
On http://lightkurve.keplerscience.org/tutorials/2.02-recover-a-planet.html (example), the following is depicted towards the bottom "In [8]":

`import matplotlib.pyplot as plt`

but it is never used.  I am guessing that

`flat.fold(best_fit).plot(alpha=0.4)`

replaced the `plt()` call.

[2018-07-23 13:53] barentsen opened #202 "Update `how to recover a known planet` to use bls.py"
The `transit-periodogram` repo that is being used in our `How to recover a planet` tutorial has been updated significantly as part of @dfm's efforts to get it merged into AstroPy (cf. https://github.com/astropy/astropy/pull/7391)

We need to update our tutorial to use the repo from which the AstroPy PR originates, which is:
https://github.com/dfm/bls.py

We may also want to add a few weasel words

[2018-07-24 16:42] Emmavt commented on #200
@barentsen  Currently, tpf.get_model() does work when flux_bkg is NaN, it just sets the Background Prior with this NaN value for mean and var. Do we want to set it to a default value, or just not set the bkg prior if flux_bkg is NaN?

[2018-07-24 17:31] barentsen commented on #200
@Emmavt I think we'll need something like this:

[code]

[2018-07-24 21:34] gully opened #204 "Append does not track metadata-- returns copy of metadata of just one lightcurve"
Append does not track metadata-- returns copy of metadata of just one lightcurve

[code]

[2018-07-24 22:22] barentsen commented on #204
The only alternative would be to set `channel` and similar metadata to `None`?

[2018-07-25 20:14] amcody commented on #125
This only works for me if ax.set_facecolor('black') is ax[i,j].set_facecolor('black').

[2018-07-26 09:43] mirca opened #209 "Investigate why tests related to tpf model fitting are hanging in AppVeyor"
See PR #208 for the unit test

[2018-07-26 13:45] mirca commented on #209
I'm assigning this issue to myself, but this shouldn't stop anyone to investigating it .

[2018-07-26 15:36] barentsen commented on #200
Fixed by #206 -- closing!

[2018-07-26 15:36] #200 closed

[2018-07-26 15:38] gully commented on #204
Exactly-- it's misleading to report erroneous or incomplete metadata for aggregated lightcurves.

[2018-07-26 16:02] mirca opened #210 "KeplerTargetPixelFile.get_model docstring is a bit unclear"
From the docstring of ``KeplerTargetPixelFile.get_model``, it's a bit a unclear what the argument ``star_priors`` should be.

This bit of code is also confusing:
[code]

From the method signature,  ``get_model(self, star_priors=None, **kwargs)``, ``start_priors`` is a separate argument anyway, so I guess that if statement will always evaluate to true?

I think it would be nice to have a docstring

[2018-07-26 16:04] barentsen commented on #204
I wonder if we should remove the `lc.append()` method and let the concatenation a.k.a stitching of multiple lightcurves be the responsibility of the `LightCurveCollection` class.

[2018-07-26 16:05] mirca commented on #204
Would appending the metadata be a feasible solution?

[2018-07-26 16:06] barentsen commented on #210
Owww, this is a bug!  (And yes, we need examples in that docstring ... and perhaps in docstrings overall.)

[2018-07-26 16:07] barentsen commented on #210
It should be
[code]

[2018-07-26 16:09] barentsen commented on #204
@mirca You mean the value of `lc.channel` would become the list `[31, 3]`?

[2018-07-26 16:24] mirca commented on #204
@barentsen Yeah, but I like your idea on having it on ``LightCurveCollection``. Maybe ``lc.append()`` could return a ``LightCurveCollection`` object?

[2018-07-27 06:28] johnnyzhang295 opened #211 "KeplerTargetPixelFile doesn't allow custom targetid to be specified."
It gets overridden by this line in the constructor:

`self.targetid = self.header()['KEPLERID']`

[2018-07-27 06:28] #211 closed, assigned to nobody

[2018-07-28 17:40] texadactyl commented on #209
I tried to reproduce this with an environment that I downloaded today.  See the attached files:

- test_tpfmodel.py  (slightly modified to work-around undefined PACKAGEDIR variable)
- appveyor.py  (main program I used to drive test_tpfmodel callable procedures)
- appveyor.log  (stdout + stderr)

I cannot hang any of the callable procedures but I did notice a consistent error reported by numpy whil

[2018-07-28 19:03] texadactyl commented on #209
Ok, I downloaded the original github and left it as-is.  Then, I ran:
python3 setup.py test

No hangs.
84 passed, 33 skipped, 11 warnings in 34.35 seconds

[test.log](https://github.com/KeplerGO/lightkurve/files/2238231/test.log)

[2018-07-28 21:38] texadactyl commented on #171
I added --remote-data as a command line parameter to setup.cfg:
[code]

Is that the recommended way to run tests dependent on remote data?

[2018-07-30 04:22] johnnyzhang295 commented on #197
Fixed in PR #203

[2018-07-30 04:22] #197 closed

[2018-07-30 04:38] johnnyzhang295 commented on #204
`LightCurveCollection` was built with the intention of holding _different_ lightcurves together, e.g. a cluster of stars. Now there was a previous implementation of `LightCurveCollection` that was able to hold lightcurves with the same `targetid` that could _potentially_ be revived...

[2018-07-30 16:01] barentsen commented on #204
Just before merging I made a small change to make sure `LightCurveCollection` could hold multiple lightcurves with the same `targetid`.  I was worried users will be confused if a collection can't hold any arbitrary combination of `LightCurve` objects.

[2018-08-02 18:01] jkcarlberg opened #212 "Periodogram not using user-input frequencies"
#### Problem description

The documentation for light curve's periodogram says that you can input an array of frequencies for which you would like the power spectrum calculated. However, when I try to do so it still computes the power spectrum for the default frequency array.

#### Example

I am interested in frequencies lower than 1 microHertz. In the snippet below, "lc" is a lightcurve built up

[2018-08-02 18:43] barentsen commented on #212
@jkcarlberg Many thanks for reporting this issue!  :+1: :+1: :+1:  (We did rush this feature ahead of KASC last month!)

I implemented a bug fix (#213) which I expect to merge later today.  Stay tuned.

[2018-08-02 20:52] #212 closed

[2018-08-02 20:56] barentsen commented on #212
Thanks again @jkcarlberg!

The bugfix has been merged and a new version of lightkurve, v1.0b13, has been released that includes the fix.  You can install it using `pip install lightkurve --upgrade`.

Let us know if you encounter any other issues!  Also keep an eye out for future improvements to the `Periodogram` class which will be merged as part of #189.

[2018-08-03 22:24] JeffLCoughlin opened #214 "Use intereact() to click on a data point and get corresponding image to display"
#### Problem description
Interact (so awesome) nicely displays the pixel-level data and corresponding lightcurve data points when pressing the play button. However, I had a use case where I wanted to see the lightcurve and corresponding pixel-level image for about 20 cadences or so (a single transit event). When zoomed in on the transit event, pressing play has the points and images display way to

[2018-08-03 22:26] barentsen commented on #214
Note: I believe you can step through cadences, one at a time, using the keyboard arrows <- and ->.

[2018-08-03 22:30] JeffLCoughlin opened #215 "interact() starts with pixel-level image zoomed out"
#### Problem description
When starting interact(), the pixel-level image displayed on the right side is zoomed out. The actual image only takes up about 1/4 of the area, and I have to manually go and zoom.

#### Example
[code]

In this example, the default scaling is to range from 40 to 70 on the x-axis, and 755 to 781 on the y-axis, while the TPF itself is only 43--51 in x and 756--768 in y.

###

[2018-08-03 22:31] barentsen commented on #215
Confirm. I have noticed this behavior as well. Assigning to @gully to either resolve or declare as non-fixable.

[2018-08-03 22:31] JeffLCoughlin commented on #214
Ah yes that does work!  Solves what I needed to do.  Could add that as default message instead of my suggestions above.

[2018-08-03 22:32] barentsen commented on #214
Assigning to @gully to investigate whether making light curve data points clickable is a desired feature, and if so, implement it.

[2018-08-07 23:47] amcody opened #218 "KeplerTargetPixelFileFactory does not output the correct RA_OBJ, DEC_OBJ"
We just realized that the TPF Factory is report RA_OBJ, DEC_OBJ values from the header of the input images. Instead, it should be taking the position of the object that it is cutting around and outputting those RA, Dec values.

[2018-08-07 23:49] amcody commented on #218
@barentsen do you have a preference as to where in the targetpixelfile.py code we pull out the position coordinates and write them into RA_OBJ, DEC_OBJ? I coudl see adding an argument to KeplerTargetPixelFileFactory() but not sure if that's kosher...

[2018-08-08 00:31] barentsen opened #219 "KeplerPRF is not normalized when `scale_col` or `scale_row` are different from 1"
For example, these unit tests fail:
[code]

This explains why @AndyTza is having problems with PRF photometry for AGN!

[2018-08-08 23:56] gully commented on #214
I see, so clicking the lightcurve point brings up the tpf image.  Yeah, that's a good and natural thing to do.

This custom behavior relates to the Cool Stars 20 Hack day--- the desire to have data in one figure respond to interactions in another figure.  Bokeh offers a "callback" strategy that we investigated at the hack day.  The problem is that it's pretty tricky to debug and requires javascrip

[2018-08-09 00:00] gully commented on #201
At the CoolStars20 hack day, @nattieg and @rrpastro worked on this Issue alongside the "pixel selector" functionality.  Pull Request  #216 contains a Jupyter notebook demoing some of the approaches we tried.

[2018-08-09 00:02] gully commented on #201
Some additional comments from @nattieg provided by email:

https://github.com/jupyter-widgets/ipywidgets/issues/1351

[2018-08-09 00:35] barentsen commented on #201
Nice!!  Thank you @nattieg and @rrpastro !! :+1:

[2018-08-10 18:17] barentsen opened #221 "`lc.remove_outliers()` should support removing positive/negative outliers only"
Suggestion from @JeffLCoughlin: `lc.remove_outliers()` should have an option to only remove positive outliers, which would enable users to remove cosmic rays (which add flux) whilst preserving planet transits (which reduce flux).

[2018-08-10 18:56] JeffLCoughlin opened #222 "Cadences with NaN Timestamps are Being Removed by from_archive() Without Readily Apparent Warning or Documentation"
#### Problem description
KeplerLightCurve is apparently removing cadences that have NaN values for time, without warning the user. There does not appear to be an option to import a lightcurve and preserve these cadences. This does not appear to be documented (or at least readily visible).

#### Example
This target is known to have NaN timestamps. No cadences are identified with NaN timestamps afte

[2018-08-10 20:28] barentsen commented on #222
A default quality bitmask is applied when opening a `KeplerLightCurveFile`.  The default mask filters out cadences with the flags which are listed here: https://github.com/KeplerGO/lightkurve/blob/master/lightkurve/utils.py#L45

In this case, cadences with time equal to NaN are flagged by the `NO DATA` quality flag.  A user can configure the bitmask that is applied using the `quality_bitmask` para

[2018-08-10 23:01] KenMighell opened #223 "KeplerTargetPixelFile quality_bitmask parameter new value request"
#### Problem description

#### Example

[code]

#### Expected behavior

#### Environment:
- platform (e.g. Linux, OSX, Windows):
- lightkurve version (e.g. 1.0b6):
- installation method (e.g. pip, conda, source):

[2018-08-10 23:06] KenMighell opened #224 "`quality_bitmask` should have an option to mask no cadences"
New feature request for KeplerTargetPixelFile

#### Problem description

The quality_bitmask parameter of KeplerTargetPixelFile
should have the option of "raw" or "all" to allow the user to
see the actual QUALITY values in the TPF FITS file.

[2018-08-10 23:06] #223 closed

[2018-08-12 11:17] mirca commented on #53
This was fixed in #186. Closing in 3, 2, 1, 0, -1, ...

[2018-08-12 11:17] #53 closed

[2018-08-12 20:32] barentsen commented on #224
It is already the case that passing `quality_bitmask=None` or `quality_bitmask=0` has the effect of returning all cadences, i.e. nothing is masked out.

As part of 7dc76acd32e5b86079f434e164920e52889324e9 I have added support for the string `'none'`, and listed this more explicitely as an option in the docstrings.

Please re-open the issue if you feel further improvements to the docs are needed to

[2018-08-12 20:32] #224 closed

[2018-08-12 20:35] KenMighell commented on #224
Hi Geert,

That was an easy fix!

Cheers,

-Ken

[2018-08-13 21:25] JeffLCoughlin commented on #221
Thanks for opening. Science case example is users will likely want to remove outliers due to cosmic rays without clipping out data from transits. I suggest options for remove_outliers(), such as:

- Remove positive/negative outliers only.
- Set custom sigma value for positive and negative separately.

Side note: I have a phased-light-curve outlier rejection scheme I built into modshift that might

[2018-08-13 21:41] JeffLCoughlin commented on #222
Ah I confirm that works nicely with quality_bitmask=0.  Excellent.

I note though that setting quality_bitmask="none" as the documentation suggests does not appear to work.  quality_bitmask="none" returns "KeyError: 'none'"

I confirm quality_bitmask="default"  does work fine.

Should I open a separate issue for this? Or am I doing something silly?

[code]

[2018-08-13 21:46] JeffLCoughlin commented on #222
Ah I just saw on another comment

So if that's the case that commit will fix my 'none' issue, then you can ignore my comment above not working, as it looks like this will go live in the next release, and this can be closed.

[2018-08-13 21:47] barentsen commented on #222
@JeffLCoughlin Right, `quality_bitmask="none"` will only work if you are using the current `master` branch of the git repository (and pulled in the last day or so).

Thanks for checking!!

[2018-08-13 21:47] #222 closed

[2018-08-14 01:29] mirca commented on #154
This has been fixed in #155

[2018-08-14 01:29] #154 closed

[2018-08-14 01:36] mirca commented on #135
I believe this has been accounted for in @barentsen's refactoring. I'm closing it, feel free to re-open tho.

[2018-08-14 01:36] #135 closed

[2018-08-16 11:28] keatonb commented on #14
I took a stab at this and I'm pretty happy with the aesthetics of the result.  There are probably more clever ways to do some of this.  I will note that these pixels don't appear dead-on position when I compare to where the flux is distributed in the TPFs.  Perhaps I've been a bit careless in the translation from RA,Dec to image location, or perhaps `get_coordinates()` has limited accuracy.

[code

[2018-08-23 01:56] benjaminpope opened #229 "Store header words"
#### Problem description
lightkurve doesn't store header information in a way that makes it straightforwardly accessible to other functions, eg k2sc which needs header data. It also doesn't by default carry pos_corr1 and pos_corr2.

#### Example

I can use the k2sc `standalone` package (see https://github.com/OxES/k2sc/blob/master/notebooks/lightkurve.ipynb) to detrend a lightkurve KeplerLightCurv

[2018-08-23 17:55] amcody commented on #229
Hi @benjaminpope, could you tell me how to get k2sc.standalone running so I can test? I have been using it on the command line and don't see standalone mentioned on the OxES github site. thanks!

[2018-08-23 23:57] amcody opened #230 "KeplerCBVCorrector does not preserve number of input light curve points"
When one runs KeplerCBVCorrector on an input light curve, it removes any points that do not meet the default quality_bitmask requirement, which is set by KeplerLightCurveFile. At present, there is no way to pass a quality_bitmask (e.g., None) through so that the number of output points is the same as the input points.

I make a light curve fits files with time as follows:
`col1 = fits.Column(name=

[2018-08-24 00:01] benjaminpope commented on #229
Dear Ann Marie,

Oh dear that's a bit embarrassing - I had apparently not committed it to
the repo! Try again now?

Apologies,

Ben

On Fri, Aug 24, 2018 at 3:55 AM Ann Marie Cody <notifications@github.com>
wrote:

--
Dr Benjamin Pope
NASA Sagan Fellow
Center for Cosmology and Particle Physics
New York University
726 Broadway
New York, NY 10003

[2018-08-24 20:25] barentsen opened #232 "Seismology plots should show a second X axis with units hours or days"
Seismology plots tend to use microhertz as the unit on the X axis, but the noise in K2 data is often repetitive on timescales of hours or days.  Having a second X axis on seismology plots in units hours or days would be very useful!

[2018-08-24 23:53] johnnyzhang295 opened #233 "Unable to Open Fits Lightcurve Files"
I get this error
`KeyError: "Key 'SAP_QUALITY' does not exist."`
when trying to read in a lightcurve .fits file using the path initialization, i.e.
`lc = KeplerLightCurveFile('my_lightcurve.fits')`

[2018-08-24 23:55] barentsen commented on #233
I can't reproduce this using a random Kepler light curve file from MAST.   How did you create `my_lightcurve.fits`?

[2018-08-25 03:58] johnnyzhang295 commented on #233
@barentsen  I used lightcurve's `to_fits()` function!

[2018-08-28 23:38] johnnyzhang295 commented on #233
After opening my .fits file with astropy, it looks like lightcurve's `to_fits()` function only saved `[('TIME', '>f8'), ('FLUX', '>f4'), ('FLUX_ERR', '>f4'), ('CADENCENO', '>i4')]` in my BinTableHDU.

[2018-09-07 00:09] zkbt opened #237 "a way to know the un-phase-folded time in a folded light curve"
#### Enhancement description
Thanks to @christinahedges's updates in #228, we'll be able to color individual data points in a `lc.scatter()`. One extra feature that would be nice, for pedagogical (and maybe scientific) purposes, would be to be able to say something like
[code]
so that the colors indicate the un-phase-folded time.

#### Proposed solution
Right now, `lc.fold` sorts the data by their

[2018-09-10 19:12] barentsen opened #240 "Restore colorbar functionality in `LightCurve.scatter`"
The intention of #228 was to show a colorbar if a user passed colors to `LightCurve.scatter`, but this functionality was accidentally lost by the time the PR was merged.  Let's restore the functionality and look into adding a unit test for it.

[2018-09-10 21:32] christinahedges opened #241 "TPF Factory has real value defaults"
#### Problem description

When we create a TPF using the TPFFactory, the template file has default values for e.g. column, row, the WCS. This means that any file created with the factory has these values set.

#### Example

e.g. Here is a new asteroid TPF, which has a wrong column and row number from being created with the TPF factory.
![image](https://user-images.githubusercontent.com/14965634/45

[2018-09-11 23:43] barentsen commented on #237
Thanks @zkbt!  I agree that adding an `original_time` attribute is a good solution.  I don't particularly like the name `original_time` but I can't think of a better suggestion!

You'd be very welcome to submit a PR if you wanted to! :heart:

[2018-09-12 03:25] barentsen opened #245 "Add usage of conda to the docs"
A conda package has been created for `lightkurve`.  This is 100% fantastic, but we have to complete this as follows:
1. understand how to update the conda package when new versions of lightkurve are released;
2. document the release procedure in the docs;
3. document how to install lightkurve via conda in the docs.

[2018-09-12 03:26] barentsen commented on #240
Issue has been fixed as part of #242.  Closing!

[2018-09-12 03:26] #240 closed

[2018-09-12 03:26] barentsen commented on #241
Issue should have been fixed as part of #243.  Closing!

[2018-09-12 03:26] #241 closed

[2018-09-12 16:46] barentsen commented on #237
I wonder if *every* LightCurve object should have a `parent` attribute which contains the original LightCurve object from which the current object was created (or `None` otherwise).

The `parent` attribute would be set by all methods that create a new LightCurve from an existing one, including `fold`, `bin`, `flatten`, `correct`, etc.

The main drawback I see is that it will increase the memory co

[2018-09-12 17:33] christinahedges commented on #237
I like the idea of keeping history, but I'm not sold about keeping a lightcurve after every new method. Can we keep the "original" once and then a record of every command applied to it in the `lc.history` string?

[2018-09-12 17:37] barentsen opened #247 "Explain the notion of a `quarter` in the starter tutorials"
Currently the quickstart tutorial uses data from a specific quarter without explaining what a quarter is or why we chose that specific quarter.  I think we should add a short sentence to the quickstart to acknowledge this, and explain the notion of quarters in more detail in a later tutorial.

(This was originally reported by @GiantSable in #246.)

[2018-09-12 17:45] barentsen commented on #237
But if we only keep `original` then the color-plotting issue won't be resolved, e.g. this won't work:
[code]
(of course binning a lightcurve before folding is a silly thing to do, but other operations may alter the `time` attribute as well)

I do quite like `parent`; it can exist in addition to a `history` attribute of course.

[2018-09-12 17:47] barentsen commented on #237
Of course the merit of the `original` attribute is that you can get back to the true, original lightcurve very easily, without having to do `lc.parent.parent.parent.parent`.  Let's brainstorm in person and report back on this issue!

[2018-09-12 22:47] barentsen opened #248 "Ensure the first `import lightkurve` does not download PRF files"
Whilst experimenting with Docker, @gully noticed that the very first `import lightkurve` after a fresh install appears to trigger a download of PRF files from MAST (which is slow?)

We should investigate this and ensure that the first import is quick, i.e. no PRF files should be downloaded unless they are required!

[2018-09-14 19:05] barentsen opened #252 "Trigger a warning if time=NaN are present"
If a `TargetPixelFile` is opened with `quality_bitmask=None`, it is likely that some of time values are NaN  (usually these are cadences that have the NO DATA quality flag set).

The presence of cadences with time=NaN break several of the methods on the LightCurve class.  I do think it is valuable to allow the user to not mask out any cadences at all, but we should add a warning, likely in the con

[2018-09-14 21:33] gully commented on #215
This issue is resolved in the next version of `interact()` PR #216

[2018-09-14 21:33] #215 closed

[2018-09-17 23:19] gully commented on #214
Resolved in PR #216

[2018-09-17 23:19] #214 closed

[2018-09-18 20:37] KenMighell opened #254 "BUG REPORT: Problems with KeplerLightCurveFile.from_archive method."
#### Problem description
lightkurve sometimes fails to retrieve existing short-cadence light
curve files from MAST using the lk.KeplerLightCurveFile.from_archive method.

#### Example

[code]

For the last 2 targets MAST reports:

**Target return limit set to 1 but only 0 unique targets found. Try increasing the search radius. (Radius currently set to 1.0 arcseconds)**

The last two short-cadence

[2018-09-18 20:49] barentsen commented on #254
Ken: well-spotted, thank you!

Short-cadence lightcurves for C3 were first added to the archive 1-2 weeks ago as part of the C3R re-delivery (because the original C3 processing did not produce short cadence lightcurves).  It often takes 1-2 weeks for those new files to show up in the MAST API.

@scfleming @mustaric Am I correct to assume that C3R is not in the portal API just yet, or should we inv

[2018-09-18 20:53] scfleming commented on #254
Thanks for reporting, this work was in testing and I think got delayed longer than expected due to some issues we found on our end, so I don't think the C3 short cadence are in the operational Portal quite yet, but I've inquired about how much longer testing will take.  I'll follow up as soon as I know more, and apologies for the delay!

[2018-09-18 20:55] barentsen commented on #254
@scfleming No worries, this isn't critical! Thanks for the update. I'm happy it's not a bug =)

[2018-09-18 20:55] #254 closed

[2018-09-19 21:55] decaelus opened #256 "remove_nans doesn't work"
#### Problem description

lightkurve.lightcurve.FoldedLightCurve.remove_nans doesn't seem to remove nans at all.

#### Example

[code]
The result prints as
6
6
which suggests to me that there are as many nans before as after applying remove_nans.

#### Expected behavior

I expected the flux array to no longer contain nans.

#### Environment:
- platform (e.g. Linux, OSX, Windows): OSx
- lightkurve

[2018-09-19 22:29] barentsen commented on #256
Thank you for reporting this issue @decaelus!  We'll look into this asap.

[2018-09-20 16:36] decaelus commented on #256
Apologies for my confusion. It might be good to say that the changes are not made in place in the documentation, but this helps clear things up for me.

Thanks again for the great package.

[2018-09-20 16:36] #256 closed

[2018-09-20 16:37] barentsen commented on #256
Fair point, the docs could be more explicit about it!

[2018-09-20 17:59] gully commented on #201
The new `.interact()` tool that is about to be released ( #216 ) does not support short cadence yet.  The next step for interact is to add a module that detects whether the input TargetPixelFile is short cadence and, if so, adds a slider like the one @nattieg made at cool stars.  Using bokeh widgets makes this task much easier now, so I am confident we will be able to resolve this issue soon.

[2018-09-20 18:54] gully commented on #193
Note, this issue just arose with Jim Davenport also.

[2018-09-24 04:09] barentsen opened #258 "Update the `interact` tutorial to reflect the new interface"
The `interact()` tool now allows pixel masks to be selected using the mouse (PR #216).  We need to update our `interact` tutorial to reflect this:

http://lightkurve.keplerscience.org/tutorials/1.05-interact-with-lightcurves-and-tpf.html

Assigning to @gully!

[2018-09-24 14:53] barentsen commented on #160
Additional rogues' gallery candidates:
* EPIC211741417 in C16 shows extreme rolling bands around BKJD 3307-3310 (cf. https://twitter.com/exohugh/status/1044234436009750528 ).
* KOI 6.01 = KIC 3248033 is a false positive planet due to a nearby EB (KOI 1759.01  = KIC 3248019) which is 4 pixels away.
* KOI 8.01 = KIC 5903312 is also a false positive planet due to an EB (KOI 3692.01 = KIC 5903301) abo

[2018-09-24 19:32] gully commented on #258
Here is a proposed gif for this revised tutorial:

![20180924_interact_hltau](https://user-images.githubusercontent.com/860227/45974317-dff3f500-bff5-11e8-8bb1-6754ac9b35bc.gif)

[2018-09-24 23:12] ekaterinailin opened #259 "Raise an exception if you try to use from_archive() on KeplerLightCurve"
#### Problem description

... instead of ```KeplerLightCurveFile```. Add a helpful message to the exception.

#### Example

[code]

#### Expected behavior

Explain the user that they need to use ```KeplerLightCurveFile.from_archive()``` instead.

#### Environment:
- platform (e.g. Linux, OSX, Windows): Ubuntu 16.04
- lightkurve version (e.g. 1.0b6): 1.0b15
- installation method (e.g. pip, conda, s

[2018-09-25 00:05] ojhall94 opened #260 "Change lightcurve.to_pandas() so that 'time' isn't the index by default"
#### Problem description
When using lightcurve.to_pandas(), it sets the values of 'time' as the index values of the newly formed pandas array. This is information is duplicate with the data in the 'time' column, and means that data manipulation using indices as you would with a numpy array is no longer possible, i.e.

[code]
does not work. In my experience, manipulating pandas this way is more int

[2018-09-25 00:36] barentsen commented on #260
Thanks for reporting this experience Oliver! My reasoning behind having `time` as index is as follows:

the `pandas` way to select rows by index number is to use the `iloc` attribute, e.g. `df.iloc[0:50]` prints the first 50 rows in the example above.  The index, instead, tends to be a more informative field, such as time.  This allows a user to select sub-sets more easily by time, and it allow e.

[2018-09-25 17:13] ekaterinailin commented on #259
See pull request #263.

[2018-09-25 17:13] ojhall94 commented on #260
Hi Geert,

Your reasoning is sound, and I agree; my experience seems to stem from me not using pandas in the way it was intended, so I learned something new today! I will close the issue.

[2018-09-25 17:13] #260 closed

[2018-09-25 18:24] gully opened #264 "How to save custom aperture masks?"
Imagine you painstakingly create a custom aperture mask for aperture photometry.  Perhaps you've done so with our slick new `.interact()` method.  Or maybe you've done so programmatically by some other means that may be difficult to reproduce.  What are your options for saving your work?

Chiefly, the options come down to:

0. Do nothing--- leave it up to the user to save masks with their desired

[2018-09-25 19:25] gully opened #265 "Add a way to have interact export the mask"
The new `.interact()` is great!  It would be even better to have an option that allows reuse of the mask that was generated in the process.  Issue #264 addresses conceivable ways that the mask could be saved.

[2018-09-25 23:13] JeffLCoughlin commented on #264
I think option 2 would be great. Right now for our TPF files HDU extension #2 (the third and final extension) is the pipeline aperture. Adding additional apertures as extension #3, #4, #5, etc. seems natural and convenient. Their format could mimic the existing #2 format.

I believe this would allow the file to be used normally by any software, as the first 3 extensions remain untouched.

[2018-09-26 16:59] KenMighell opened #267 "Allow fancy indexing of KeplerTargetPixelFiles"
#### Problem description

lightkurve does not allow fancy indexing of KeplerTargetPixelFiles.

#### Example

[code]
#### Result:

<class 'lightkurve.targetpixelfile.KeplerTargetPixelFile'> =type(tpf)
(3283, 13, 13) =tpf.shape

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-1-750f

[2018-09-26 18:39] gully opened #268 "Tutorial overhaul"
As lightkurve has grown, our docs have become outdated.  I propose a bit of an overhaul of the tutorials to bring them up to date with the most recent version.

lightkurve contributor @ojhall94 has identified some specific bugs, below:

### How to recover a known planet in Kepler data?
 - Plots are no longer scatterplots as depicted in the tutorial
 - The package transit_periodogram, used in this

[2018-09-26 18:57] gully commented on #256
We could also consider adding an `inplace` operator.  I am inclined to keep the current behavior for the purpose of method chaining.

[2018-09-26 22:06] JeffLCoughlin commented on #267
If there is a function to select a subset of cadences from a TPF or lightcurve file,  I think it might also resolve the current interact() limitation of not running on short-cadence due to so many cadences.

Seems like it would be useful in general to not have to 'lug' around a bunch of extra cadences if there are ones for sure you know you want to just get rid of due to their flags or being in a

[2018-09-30 00:15] barentsen commented on #258
This has been resolved by #262!

[2018-09-30 00:15] #258 closed

[2018-09-30 19:45] AIofHuman opened #270 "Can't get data from archive for short candece"
#### Problem description

Good day! Thank a lot for your library!
I try to get short cadence data from archive. But get error then I point month. I try to these code: month = [1], month = [1,2,3], month = 'all'. But always get error. Please help!
#### Example

[code]

[2018-10-01 17:17] christinahedges commented on #270
Hi @AIofHuman! I can't seem to reproduce the error on my end, could you send a copy of the error message that you got?

Thanks!
C

[2018-10-01 18:06] AIofHuman commented on #270
Hi Christina! Thanks a lot for you quick answer!
In attach, file copy of notebook with error message. Also I add fits file  KIC 9146018 for first month of 7 quarter.
Best regards,
Boris.

[attach.zip](https://github.com/KeplerGO/lightkurve/files/2435070/attach.zip)

[2018-10-01 18:09] christinahedges commented on #270
Hi Boris,

Can you send a screenshot of the error message? Alternately you can upload your notebook [here](https://gist.github.com/) on gist so that we can see it as a webpage.

C

[2018-10-01 18:54] AIofHuman commented on #270
Screenshot
![image](https://user-images.githubusercontent.com/41274676/46309222-672c0480-c5c4-11e8-82f7-27642a382428.png)

[2018-10-01 18:55] christinahedges commented on #270
Hi Boris,

Thanks for the screenshot. This error isn't reproducible on our end, could you run the following and tell us what version number of lightkurve you are using?

[code]

[2018-10-01 19:00] AIofHuman commented on #270
![image](https://user-images.githubusercontent.com/41274676/46309564-562fc300-c5c5-11e8-80ad-a3715f03dea2.png)

[2018-10-01 20:13] christinahedges commented on #270
Hi Boris,

I'm running the same version and can't reproduce the error.

![image](https://user-images.githubusercontent.com/14965634/46313061-bac63000-c57b-11e8-88c3-bbe1f783d638.png)

Sometimes MAST goes down and we can't download or query for files. Can you try to execute the same code again and verify you have the same error?

[2018-10-02 00:18] christinahedges opened #272 "There should be an lc.copy() method"
There should be a `LightCurve.copy()` method to deep copy a lightkurve object without modifying the original.

[2018-10-02 01:10] barentsen commented on #272
Agreed!

[2018-10-02 14:14] AIofHuman commented on #270
Hi, Cristina! I try today - same result - error.  I think the problem in my low speed Internet connection. When I run same command for LC files - work fine, for SC files - error. One LC file is 400 kb, one SC file is 4000 kb.
On this week I will to another place with speed Internet connection and will check my suggetion.I will write about result.
Thanks.

[2018-10-02 15:20] barentsen commented on #248
This was fixed in #257!

[2018-10-02 15:20] #248 closed

[2018-10-02 15:28] barentsen commented on #183
This has been fixed in #269.  Thanks @christinahedges!

[2018-10-02 15:28] #183 closed

[2018-10-02 15:32] barentsen commented on #252
For anyone who wants to work on this: warnings can simply be issues using the `log.warning(text)` command!

[2018-10-02 15:35] barentsen commented on #209
A workaround was implemented in #208.

[2018-10-02 15:35] #209 closed

[2018-10-02 15:36] barentsen commented on #178
@ojhall94 is working on this as part of #266.  I believe he will be aware of Guy's code.  Closing!

[2018-10-02 15:36] #178 closed

[2018-10-02 15:42] barentsen commented on #170
We overhauled the plotting as part of #228, so this will be addressed once we re-compile all the tutorials as part of #268.  Closing for now!

[2018-10-02 15:42] #170 closed

[2018-10-02 15:47] barentsen commented on #96
We have now switched to using the `sphinx_automodapi` extension which has improved the layout of the API documentation pages significantly (cf. ##153).  I am going to close this issue for now, but feel free to re-open if documentation formatting issues pop up again!

[2018-10-02 15:47] #96 closed

[2018-10-02 15:50] barentsen commented on #57
The same feature is requested in #267.  I'm going to close this issue just to avoid duplicate issues.

[2018-10-02 15:50] #57 closed

[2018-10-02 15:56] barentsen commented on #267
Currently the `KeplerTargetPixelFile` class is a lightweight wrapper around a FITS file on disk, i.e. around an astropy `HDUList` object.  Allowing slicing and masking of such an object would require us to implement a more comprehensive class which models a TPF, so I expect this will be a longer-term project.

For the time being, if you only cared about the flux values, the user could use`tpf.flux

[2018-10-02 20:58] christinahedges commented on #270
@barentsen , do you think this could be timing out on a slow internet connection?

[2018-10-02 21:04] AIofHuman commented on #270
Yes, I think so.

[2018-10-04 16:53] barentsen commented on #221
@anand-sundaram-zocdoc Thank you for looking into this!

Good point!!  I didn't think to check astropy's `sigma_clip` function to check if it isn't already supported.  It is!  In this case, we'll only need a PR to update the docstring of `remove_outliers()` to mention these useful parameters and provide an example.

=> i.e. I think we should list and explain `sigma_lower` and `sigma_upper` as para

[2018-10-07 18:22] barentsen opened #278 "Make the notebooks visible & executable at the start of each tutorial"
The fantastic [GammaPy](http://gammapy.org) project has a great box at the top of each tutorial to explain where users can find the original notebook file, plus an option to launch it with `binder`:

Example: http://docs.gammapy.org/0.8/notebooks/first_steps.html

We should work towards offering the same!

[2018-10-07 19:09] AIofHuman commented on #270
Hi, Christina!
Today I tried to run my script via speed Internet connection, but it is failt (look at screen). I think that something happened at Mast. I will try later.
Best regards.
Boris.
![image](https://user-images.githubusercontent.com/41274676/46585760-8bcd2400-ca7d-11e8-9b22-d55bfa1d7dad.png)

[2018-10-08 11:31] keatonb commented on #14
So, any suggestions on how or whether to implement this?

Has anyone quantified the accuracy of the `get_coordinates()` function?  Is this affected by the same systematic offsets of up to 10 pixels described in https://github.com/KeplerGO/K2fov/issues/15?  Unless we could provide ~sub-pixel accuracy with `get_coordinates()`, I would be hesitant to provide this overlay functionality.

[2018-10-08 18:33] christinahedges commented on #270
This does look like a MAST problem. Please keep trying at let me know if you still can't connect.

[2018-10-08 22:59] barentsen commented on #270
I activated the `from_archive` unit tests in Windows (AppVeyor) over in PR #280 and they seem to fail with an error message similar to that reported originally in this issue.  Travis (Linux) passes the same tests, so it looks like we have a Windows-specific bug in either `lightkurve` or `astroquery` that explains this problem.

[2018-10-09 00:12] christinahedges opened #281 "We need a tutorial for how to save data as a csv, pickle, fits etc etc"
This just needs to be a quick simple tutorial.

[2018-10-09 07:09] JoseALermaIII commented on #281
I'll see what I can do! I've worked with csv and shelf.
It'll take me a bit to read up on using lightkurve to get data

[2018-10-09 18:00] christinahedges opened #283 "`from_archive` shouldn't create a mastDownload folder every time we use it."
`from_archive()` creates a new mastDownload folder in every working directory you use it in. This means we have lots of trailing 'mastDownload' folders with Kepler-10 downloaded in them about 8 times.

We should instead use the astropy cache directory and store it there.

[2018-10-10 00:08] christinahedges opened #286 "Lightkurve should have better names"
The lightkurve API should have better names. Methods should take the form either `lc.verb()` or `lc.verb_noun()`. Properties should take the form `lc.noun`. This will make it easier for users to understand the API.

**We should use as few different verbs as possible**. More verbs is confusing when you're trying to search for the functions you want. Acceptable verbs:

1. `to_` : indicates a convers

[2018-10-10 02:41] barentsen commented on #221
Thanks to #276, `remove_outliers()` now explicitly support `sigma_lower` and `sigma_upper` arguments.  This issue has been resolved!

[2018-10-10 02:41] #221 closed

[2018-10-10 11:15] JoseALermaIII commented on #281
@christinahedges I have a [working shelve example](https://github.com/JoseALermaIII/lightkurve/blob/add-issue-281/docs/source/tutorials/how-to-save-data-locally.ipynb).

Is that what you're looking for or more specific data sets?

A csv file will be pretty short since I'm working with lightcurve objects directly - probably just the metadata; however, I can save a specific data set if I'm shown how

[2018-10-10 16:42] christinahedges commented on #281
Hi @JoseALermaIII thanks for looking into this! We actually have a few file formats in lightkurve that are used as standard in astronomy. The LightCurve class has two methods to write files (`to_csv()`, `to_fits()`) which we need to show users how to use with a tutorial. We can also use pickle, which is used fairly standardly across astronomy. These are the three file types we need a tutorial for.

[2018-10-10 19:00] JoseALermaIII commented on #281
@christinahedges Thanks for replying!

It'll be easier to write knowing that there are two methods that already exist for csv and fits. I'll look up using pickle to save the LightCurve object, but that shouldn't be long (since shelve is based on pickle).

I'll rewrite the tutorial and post here to ensure it meets the requirements before submitting a pull request.

[2018-10-11 00:32] #283 closed

[2018-10-12 19:15] gully opened #289 "Better support for reading in non-mission produced lightcurve fits files, e.g. to_fits() or HLSPs"
A common use case is: "I want to read in a Vanderburg & Johnson K2SFF lightcurve for a given target-of-interest".  This High Level Science Product (HLSP) has several special features that sets it apart from a common Kepler-pipeline produced KeplerLightCurve or a custom user-produced LightCurve:

1. Existence of many (N_lc ~ 20) lightcurves of the same target with slightly different aperture choice

[2018-10-12 19:34] gully commented on #289
For some clarity:

[code]

yields:

[code]

and then:

`hdus[5].data.columns` yields:

[code]

[2018-10-12 19:35] gully commented on #289
A user can currently do:
[code]

[2018-10-14 03:59] JoseALermaIII commented on #247
I also found a decent explanation of quarters on the [Kepler Data Product Page](https://keplerscience.arc.nasa.gov/data-products.html#kepler-data-release-notes)

[2018-10-14 05:36] JoseALermaIII commented on #252
I'll see what I can do!
What should the warning say? For now, I'm adding `Warning: NaN times are present` using `log.warning(msg)`; however, should it be more specific?

Like, `Warning; NaN times are present. Use a quality_bitmask != None`?

[2018-10-14 06:53] JoseALermaIII commented on #272
I'll see what I can do!
Seems like it'll be tougher to make a new test for it, but I'll read up on pytest.

[2018-10-14 23:06] exowanderer opened #295 "Retrieve all TPFs per chip"
#### Issue description
Is it possible to call for the TPFs as a function of the chip? Or even "all per campaign"

#### Example
[code]

#### Expected behavior
I expected that the `chip` kwarg is would exist and that the `target` kwarg would not be required; much like `campaign` vs `quarter`, I was expecting `chip` to replace `target`.

I would like to download the TPF files from every target observ

[2018-10-14 23:31] barentsen commented on #295
Unfortunately the MAST Portal API does not support queries on mission-specific meta data at this, such as Kepler CCD identifier.  So far the only work-around is to query targets manually using e.g. the web-based Kepler or CasJobs interfaces at MAST, or to use the older MAST web services (cf. https://archive.stsci.edu/vo/mast_services.html).

Supporting CCD-based searches is on our wish list but we

[2018-10-14 23:31] #295 closed

[2018-10-14 23:32] barentsen commented on #286
This was resolved in #287. Yay!

[2018-10-14 23:32] #286 closed

[2018-10-15 16:12] exowanderer commented on #295
I wrote this code snippet to do the job; but it requires downloading the entire K2 database from

`https://exoplanetarchive.ipac.caltech.edu/cgi-bin/TblSearch/nph-tblSearchInit?app=ExoTbls&config=k2targets`

I stored the csv file [updated as of 10/14/2018] on my personal website for me + others to wget:
[code]
[code]

[2018-10-15 16:16] scfleming commented on #295
Some good news on this front: we have made a new column to CAOM called "sequence_number" available in the table.  This is an integer column that, when populated, will contain the K2 Campaign number and the TESS sector number, meaning you will be able to do a direct query on Campaign/Sector.

Note that the sequence_number *values* aren't populated yet for K2 or K2 HLSP, but they will be in the futu

[2018-10-15 16:42] barentsen commented on #295
@exowanderer Thank you for sharing this snippet!  Perhaps we should add support for querying the old API.

@scfleming Do you expect queries based on CCD number will be possible in the future, or would you encourage us to script around the old API?

[2018-10-15 16:43] barentsen commented on #295
(Also: @scfleming thank you for the fantastic news about the extra CAOM column for campaign/quarter number!!)

[2018-10-15 16:43] scfleming commented on #295
I would script around for CCD number at this point, that's less likely to be included as part of the data model, at least in the near future.

[2018-10-15 16:46] barentsen commented on #295
@scfleming Do you expect the old API be supported indefinitely?

[2018-10-15 16:48] scfleming commented on #295
At this point, my best guess is that the old API will be supported until and unless that functionality is made available in the new API.  So I guess my answer is "no", since it's possible that functionality moves into the new API, and at that point we would almost certainly shut down the old API.

[2018-10-15 16:56] barentsen commented on #295
Thanks for the info @scfleming!

[2018-10-15 18:43] exowanderer commented on #295
This is all very useful. Thank you both for the helpful conversation.

At this point, does the information that `lightkurve` grabs (even if not in the TPF class) include the chip number? I see `channel`; but I don't know what that means.

If `tpf.channel` is the chip number, then I'm perfectly happy to reconfigure the above script to store the `lightkurve` output as `k2_lightkurves[campaign][chann

[2018-10-15 19:02] exowanderer opened #296 "Plotting KeplerLightCurveFile makes my ipython session unresponsive"
#### Problem description
After I successfully plot a KeplerLightCurveFile (from_archive), my entire `ipython` session becomes unresponsive. I am forced to close the terminal that the `ipython` session is contained within

#### Example
[code]
Then my `ipython` session crashes (stops responding) with no warnings or errors

#### Expected behavior
I would have expected the `matplotlib` window to open,

[2018-10-15 20:06] christinahedges commented on #296
Hi @exowanderer, thanks for reporting this issue. I can not reproduce the ipython session crashing, but I can confirm that I cannot get a matplotlib window to open. I'll keep digging and try to figure out what's wrong.

In the mean time, you could try updating to the latest version of lightkurve using
[code]

[2018-10-15 20:08] barentsen commented on #296
@exowanderer I notice that you are turning interactive mode on using `ion()`.  What happens if you remove that statement, or if you call `ioff()` and call `show()` manually after issuing the plot command?

[2018-10-15 21:03] exowanderer commented on #296
Hello all,

I did update my version with `pip install --upgrade lightkurve` (thank you @christinahedges) and now the issue is no longer as big of a deal. It still 'sticks' a little and responds with an error that I failed to capture ("QE...something").

Additionally, I *then* turned off `plt.ion()` and the behavior stopped altogether; i.e no console interruption at all. (thank you @barentsen)

So

[2018-10-15 21:03] #296 closed

[2018-10-15 21:03] exowanderer commented on #296
PS: I apologize that this was probably just a 'versioning' issue; I only install `lightkurve` a few days ago (maybe a week); so I assumed that I had the more updated version.

[2018-10-15 21:05] barentsen commented on #296
We release a new version every few days now!

[2018-10-15 21:06] exowanderer commented on #296
Whoops: I think I spoke too soon.

I am now on version 1.0b19; and one of out 10 of my trials completely became completely unresponsive.  This is probably not very helpful of an issue; but if someone else tags in later with "same problem here"; then maybe we can diagnose it.

[2018-10-15 21:06] exowanderer commented on #296
And now I have the error that is output when it's sticking

[code]

[2018-10-16 00:47] #233 closed

[2018-10-16 03:51] #252 closed

[2018-10-16 17:16] lacalaca85 commented on #264
I second Jeff, No 2 sounds great. Light curve is readily reproducible with the stored custom mask. We struggled with this in pyke where overwriting the mask files was rather easy...
And we will be able read back the mask from the light curve file onto the original TPF, right?

[2018-10-16 18:00] barentsen commented on #264
I'd be fine with #2!  Who would like to volunteer to try and implement it?

[2018-10-16 18:33] gully commented on #264
It looks like option 2 wins based on unanimous feedback so far: 3/3 votes.  So then the question becomes implementation, what needs to change in order to "save the lightcurve with e.g. the .to_fits() method with an HDU extension for the mask":

The `.to_fits()` method currently works on LightCurve objects, which presently have no way to know what mask generated them.  It seems to me that there are

[2018-10-16 18:36] gully commented on #264
By the way, I think @KenMighell and @christinahedges had verbally expressed interest in Option 3, "Save a new target pixel file with a new HDU extension for the mask".  If you still like option 3, please chime in here soon to extoll its virtues.

[2018-10-16 18:53] barentsen commented on #264
We should discuss, but my two cents:
* I'm fine for `LightCurve` to have an optional `aperture_mask` attribute that gets written to its own extension by `LightCurve.to_fits()`.  Although it deviates from the pipeline format, the mask really is an attribute that is associated with a LightCurve rather than a TargetPixelFile. The extension should use the same format as that used to save a mask in a T

[2018-10-17 10:51] ojhall94 opened #299 "Periodogram() should have power normalisation options"
#### Problem description
I've received some feedback from Prof. Tim Bedding that units of Power Spectral Density are useful for solar-type oscillators, but not necessarily for other types. Power Spectral Density should be the default, but other types could be possible.

I'll seek out some more community feedback before building a functional example.
#### Example
[code]

[2018-10-18 05:25] barentsen opened #300 "Replace `copy.deepcopy(self)` with `self.copy()` across `lightcurve.py`"
Thanks to #294, the `LightCurve` class now has a `copy()` method.

This means that we can now replace calls to `copy.deepcopy(self)` with `self.copy()` across the module.

This should be an easy PR for beginners!

[2018-10-18 05:37] rra94 commented on #300
I can take this.

[2018-10-19 11:02] IvanLudvig commented on #300
I think I did it

[2018-10-19 19:55] barentsen commented on #300
I am going to pre-emptively close this issue because 3 PRs have already been submitted to resolve it.  We will review them asap.

[2018-10-19 19:55] #300 closed

[2018-10-23 09:41] ojhall94 commented on #299
Hi Daniel!

Thanks for your great comment--- This is a use case I haven't personally experienced so I'm glad you raise such a clear example. I've had Tim fill me in on the details while he was still here, so I'll try and write a pull request for this soon!

[2018-10-23 15:29] barentsen commented on #299
@danielhey Thank you for weighing in!!  Do you have a suggestion as to what Lightkurve's ideal interface might be to enable you to avoid the extra conversions?

[2018-10-23 18:55] barentsen commented on #59
Work has been done on this over the summer.  I am closing this issue because it will be outdated.

[2018-10-23 18:55] #59 closed

[2018-10-29 12:15] ojhall94 opened #310 "Allow for fitting with Astropy.LombScargle through lightkurve.Periodogram()?"
#### Problem description
Ben Pope (@benjaminpope) has mentioned how Periodogram() could be made more useful by allowing use of the astropy.LombScargle fitting functionality (http://docs.astropy.org/en/stable/api/astropy.stats.LombScargle.html#astropy.stats.LombScargle.model).
This would allow for users to evaluate the model at the frequency of highest power and be more useful for modelling coheren

[2018-10-29 16:41] christinahedges commented on #310
This sounds like a great idea, thanks for opening the issue!

[2018-10-29 23:41] #267 closed

[2018-10-30 04:49] barentsen opened #313 "`make clean` in the docs does not remove stale files under `docs/source/api`"
Running `make clean` in the docs directory does not remove all auto-generated files under `docs/source/api`.

Some of the files in that directory are created manually however, so we don't want the Makefile to remove them all.

[2018-10-31 16:32] KenMighell opened #316 "Bug Report: KeplerTargetPixelFile opens TESS Target Pixel Files"
#### Problem description

KeplerTargetPixelFile() opens TESS Target Pixel Files instead of throwing an exception.

#### Example

[code]
While you can look at the headers without problem, using the to_lightcurve() function
will fail because channel information is missing.

[code]
See the attached PNG file to see the gory details.

#### Expected behavior

Using KeplerTargetPixelFile to open a TESS T

[2018-10-31 17:01] barentsen commented on #316
Thanks @KenMighell!  This looks like a bug we should fix!

[2018-10-31 17:05] barentsen commented on #316
@nksaunders Do you want to have a look?

My initial thinking is that we may want to issue a `LightkurveWarning` (using `warnings.warn`, cf.  https://github.com/KeplerGO/lightkurve/pull/298#issuecomment-430282055) if the TPF does not have MISSION=TESS in the header?

[2018-10-31 17:56] KenMighell commented on #316
I think that the fact that to_lightcurve() crashes with a TESS TPF warrants an exception and not just a warning.

-Ken

[2018-10-31 18:12] barentsen commented on #316
My worry about raising an exception is that it then becomes hard for a home-made target pixel files to be loaded (or perhaps even future versions of official TESS products).

Two additional mitigation actions we can consider:
* We could make `to_lightcurve` more robust to not crash if the CHANNEL keyword is missing from the TPF (which is why it crashed).
* Similar to `astropy.io.fits.open()`, we c

[2018-10-31 18:38] KenMighell commented on #316
Ok. Warning it is.

-Ken

[2018-10-31 18:43] nksaunders commented on #316
I agree that `to_lightcurve` should be callable without needing Kepler-specific keywords to make home-made tpfs user friendly.

For this specific case, creating a `TessTargetPixelFile` works, and the `to_lightcurve` function will not crash.

Maybe calling `KeplerTargetPixelFile` on an object missing Kepler-specific keywords should return a generic `TargetPixelFile` object with a warning. I think a

[2018-10-31 19:20] KenMighell opened #318 "Bug Report: TessLightCurveFile() opens TESS Target Pixel Files without throwing an exception"
#### Problem description

TessLightCurveFile() opens TESS Target Pixel Files without throwing an exception

#### Example

[code]

#### Expected behavior

It should have thrown an exception (wrong file type) instead of accepting the wrong file type

#### Environment:
- platform: Mac OS X (High Sierra)
- lightkurve version:  1.0b19
- installation method: GitHub source

[2018-11-02 18:48] barentsen opened #319 "Implement new `Corrector` API design"
During a brainstorm today (by @christinahedges, @nksaunders, @barentsen), we provisionally decided to deprecate `LightCurve.correct()` in favor of an object-oriented approach centered on an abstract `Corrector` class which has three key methods:
[code]

Specific implementations of this class would include `SFFCorrector`, `PLDCorrector`, and `PCACorrector`.  The rationale behind removing `lc.correc

[2018-11-02 21:11] christinahedges opened #321 "Cannot pass a quality bitmask using the new search_targetpixelfile API"
This breaks with an obscure error:

![image](https://user-images.githubusercontent.com/14965634/47940791-17817700-dea9-11e8-8b05-40c2c454b6bb.png)

[2018-11-03 00:08] barentsen opened #324 "Mark known spurious frequencies in a Kepler `Periodogram`?"
The [Kepler Data Characteristics Handbook](https://archive.stsci.edu/kepler/manuals/Data_Characteristics.pdf) contains a wonderful table listing all the known spurious frequencies in Kepler short cadence data (plus explanations).  I wonder if we should provide an easy way to plot them, e.g. `Periodogram.plot(show_spurious=True)`.  Unfortunately this is Kepler-specific so it would make `Periodogram

[2018-11-05 19:01] barentsen commented on #324
Slightly different idea: should we emit a warning if e.g. the `estimate_numax()` method returns one of the spurious frequencies?  (Caveat: Periodogram does not know if the data came from Kepler or TESS.)

[2018-11-05 19:59] JeffLCoughlin commented on #324
Great idea. Couple caveats / ideas:

- From the footnotes, looks like it likely wasn't updated past Q7, so frequencies have likely shifted / change quarter-to-quarter.

- As you note some of these could be totally different for K2, and campaign-dependant.

- I made a note to ask Doug, Steve et al. how these were calculated back in the day. My guess is based off the PDC CBVs. If so, (or even if the

[2018-11-05 22:39] #321 closed

[2018-11-06 03:03] barentsen opened #327 "Implement a transit masking feature"
Various trend and systematics removal methods will benefit from the ability to mask out known planet transits before "fitting the trend" to be removed.  To make this easy, we should consider:
1. Providing an easy method to generate an appropriate transit mask, e.g. `mask = LightCurve.create_transit_mask(phase, period, duration)`?
2. Have our detrending/correction methods accept such mask, e.g. `Li

[2018-11-06 18:32] nksaunders commented on #327
This is a great idea, and would be very useful for a `PLDCorrector`.

I think the ideal structure would be an array of indices to be masked, which can be passed into the `PLDCorrector` implementation of the `Corrector` class. This would allow users to use `create_transit_mask(phase, period, duration)` to generate a mask, or pass a custom mask (as was the case with Everest).

A useful diagnostic pl

[2018-11-06 18:39] nksaunders opened #328 "`errorbar()` provides incorrect x label for folded light curves"
Similar to #6: `errorbar()` returns `Time` instead of `Phase` for folded light curves.

![image](https://user-images.githubusercontent.com/17130840/48085724-ef975980-e1af-11e8-8d9f-e2af3e7c41ce.png)

I believe adding a `FoldedLightCurve.errorbar()` wrapper function similar to the existing `.plot()` and `.scatter()` would resolve this issue.

[2018-11-08 16:39] gully commented on #265
Currently thinking about default names for saving the mask:

[code]

results in: `ktwo210690913-c13_custom_mask.fits`

Demerit: makes strong assumption for TPF file names (there is exactly one underscore).

[2018-11-08 17:21] gully commented on #264
I propose a simple binary mask: `1` for in the mask, `0` for out of the mask.

[2018-11-08 18:13] barentsen commented on #264
Below I copy/paste the exact specification from the [Kepler archive manual](https://archive.stsci.edu/kepler/manuals/archive_manual.pdf) and the [TESS documentation](https://archive.stsci.edu/missions/tess/doc/EXP-TESS-ARC-ICD-TM-0014.pdf).  They are different but they both give the same meaning to bits 1 and 2, so I think we may want to stick to those!

![screenshot from 2018-11-08 10-07-41](http

[2018-11-08 18:30] JeffLCoughlin commented on #265
Maybe replace the .fits on the end with _custom_mask.fits ?  Then there's no assumption on delimeters in the filename.

outname = base.rsplit('.fits')[0] + '_custom_mask.fits'

[2018-11-08 18:35] gully commented on #289
As part of exporting a custom mask from interact (#265), we have had to decide on a specification for how to save the mask (#264).  As part of these issues, we will likely want a way to *round-trip* the new, saved lightcurves.  These `interact`-generated lightcurves are in a strange new class.  They're not HLSPs, nor are they KeplerLightCurveFiles-- they're something in between.

[2018-11-08 18:45] barentsen commented on #265
At the risk of being verbose, I like `base.rsplit('.fits')[0] + '-custom-aperture-mask.fits'`

Real-world example:
[code]

[2018-11-08 18:59] gully commented on #265
Do you think it's misleading to include `targ`, since the output file is no longer a target pixel file?

[2018-11-08 21:08] barentsen commented on #265
I'm not worried about that, personally!

[2018-11-09 00:01] gully commented on #264
See some discussion at #329 that relates to discussion here.  There does not presently exist a convenient way to "round trip":

`LightCurve`  ➡️  fits file ➡️ `LightCurve`

...while preserving metadata.  Issue #289 is essentially the solution to the round trip problem--- we need support for reading in non-mission-produced lightcurves (e.g. HLSPs and these custom interact-produced lightcurves).

[2018-11-09 10:36] MichalZG opened #330 "Memory error - KeplerTargetPixelFile iteration"
#### Problem description
When iterate over KeplerTargetPixelFile object clogging of memory occure.
#### Example

[code]
#### Behavior
Over 1,000 megabytes ram for i = 250. This same behavior for jupyter, ipython, python sheel.

#### Environment:
- platform Linux
- lightkurve version: 1.0b21
- installation method: conda

[2018-11-09 16:55] barentsen commented on #330
Thank you for reporting this behavior @MichalZG! Investigate we shall.

[2018-11-13 20:41] gully commented on #264
I will do the following per guidance above:

### Our approach
Use `0` to indicate that the pixel was not telemetered by the spacecraft (e.g. all-NaN data... will require an additional cross-match with the original HDU, since we do not presently make this distinction.)
Use `1` to indicate that the pixel was telemetered by the spacecraft.
Use `2` to indicate that the pixel was in the *custom* (e.g.

[2018-11-13 21:18] barentsen commented on #264
The inconsistency with the boolean `aperture_mask` convention used elsewhere in Lightkurve is a fair reason for concern.  I wonder if we should alter the `_parse_aperture_mask()` method in `TargetPixelFile` to accept both boolean masks and integer-based masks, e.g.:

[code]
...plus some error-checking to warn the user if they accidentally used an integer mask that contains only zeros and ones. Tho

[2018-11-13 21:39] gully commented on #264
Maybe? I'll get some practical experience and make some tests to probe these scenarios as part of the present interrelated pull requests.

[2018-11-14 00:32] jradavenport opened #333 "TessTargetPixelFile .interact() throws an exception"
Using the example alert data on MAST, TessTargetPixelFile works to read the TPF in, but `.interact()` crashes with the following error message:
[code]

#### Environment:
- MacOS, Python 3.6.6
- lightkurve version 1.0b21
- installation method: pip
- bokeh-1.0.1 updated via conda

[2018-11-14 00:42] barentsen commented on #333
Thank you for reporting this issue and providing a detailed stack trace, @jradavenport!

@gully Can you investigate?

[2018-11-14 00:55] gully commented on #333
It works for me-- my hunch is that your bokeh version is too new-- 1.0 just came out a few weeks ago and must have some backwards incompatibility changes, which isn't a surprise for a major version release.  I'd recommend pinning bokeh to less than version 1.0, perhaps 0.13 or earlier.

Note to developers-- let's consider modifying the conda-forge and/or requirements.txt file to pin the bokeh vers

[2018-11-14 16:13] barentsen commented on #333
@gully Let's investigate this a bit more.  I am unable to reproduce this issue with bokeh 1.0.1; Linux Python 3.6.6; master branch (which has no changes to interact compared to 1.0b21).  Can you reproduce on your end?

![screenshot from 2018-11-14 08-12-10](https://user-images.githubusercontent.com/817669/48495515-027be080-e7e5-11e8-9ecb-f2b1788b25ac.png)

[2018-11-14 17:00] jradavenport commented on #333
OK, I can get the same thing now. Maybe Jupyter was seeing something stale previously.... grumble. Thanks for following up!!
<img width="1181" alt="screen shot 2018-11-14 at 8 57 32 am" src="https://user-images.githubusercontent.com/3179868/48498757-ba13f100-e7eb-11e8-9369-45ba1b021ed1.png">

[2018-11-14 17:00] #333 closed

[2018-11-14 17:08] barentsen commented on #333
@jradavenport Did you make changes to your environment (e.g. `conda update something`) after starting the notebook, and then continue using the notebook without restarting the kernel? That can lead to confusing exceptions with obscure error messages (in this case, Python indicated that the exception occured in a docstring (line 931), which is of course unlikely and can be indicative of this scenar

[2018-11-14 17:40] jradavenport commented on #333
That must have been what I failed to do yesterday. I did `pip install lightkurve` and then without restarted my kernel it worked A OK! So I forgot to restart it after using `condo install bokeh`.... thumbs down @jradavenport

[2018-11-14 18:11] barentsen commented on #333
Thumbs can stay up @jradavenport :+1: -- I have made this mistake many, many times!

[2018-11-18 18:55] barentsen opened #337 "Enable `tpf.create_threshold_mask()` to return a contiguous mask"
### Problem
The `aperture_mask='threshold'` feature of Lightkurve is a bit simplistic in that it returns all pixels above a median flux threshold.  This means that the mask returned is often not contiguous and may include neighbor stars, see e.g. https://github.com/KeplerGO/lightkurve/pull/231#issuecomment-439681783.  Although we could keep this behavior as an option, most of the time users will w

[2018-11-18 18:59] mrtommyb commented on #337
Thanks @barentsen. I think this is going to be more important for TESS thanks Kepler due to the greater crowding. The target I was looking at is a pretty good test case. I would guess that you would (almost?) always want the one that includes the central pixel

[2018-11-19 16:22] barentsen commented on #337
I suppose that most traditional TPFs, as well as TESS cut-outs, intend to place the target of interest in the center of the TPF.  So I agree we should probably go with "the most central mask".

Possible pseudocode:
[code]

[2018-11-19 16:32] barentsen commented on #316
As part of #338, `tpf.to_lightcurve()` will no longer crash if the TPF has no CHANNEL keyword.

[2018-11-19 16:34] barentsen commented on #337
@christinahedges Would you be willing to see if the above is easy to implement, and open a PR if so?

[2018-11-19 16:49] barentsen commented on #328
@christinahedges I believe you may or may not have already fixed this before.  Do you want to have a look and open a PR if needed?

[2018-11-19 16:52] barentsen commented on #245
@gully Can you look into adding the correct `conda install lightkurve` instructions to the installation guide in the sphinx docs, and also briefly explain the steps needed to update the conda package in the 'for developers' page of the sphinx docs?

[2018-11-19 16:54] barentsen opened #339 "Review installation and quickstart instructions"
@amcody Can you review the docs at https://docs.lightkurve.org and identify issues that need to be resolved to help brand new users get started, prior to releasing v1.0?  Feel free to open PRs as required.

[2018-11-19 19:16] barentsen commented on #138
We can close this issue because `from_archive` has now been deprecated in favor of `search_targetpixelfile` and `search_lightcurvefile`, and this new interface supports returning a collection class.

For example: `search_targetpixelfile("Kepler-10").download_all()` returns a `TargetPixelFileCollection` object.

[2018-11-19 19:16] #138 closed

[2018-11-19 19:31] barentsen commented on #166
This issue was resolved by #243.  Closing!

[2018-11-19 19:31] #166 closed

[2018-11-19 19:41] barentsen commented on #204
I suggest the following way forward for this issue:
* Combining lightcurves should always return a generic `LightCurve` object that does not contain metadata that is specific to e.g. an individual `KeplerLightCurve` (e.g. `channel` is not an attribute of `LightCurve`).
* The combination of lightcurves should be implemented in a robust `LichtCurveCollection.stitch()` method.  The `LightCurve.append

[2018-11-19 19:45] barentsen commented on #165
I believe this has successfully been resolved by #315.  Thank you @nksaunders!

[2018-11-19 19:45] #165 closed

[2018-11-19 20:07] barentsen commented on #188
Target pixel files store `TIME` as `>f8` (i.e. 64-bit float) and `FLUX` as `>f4` (i.e. 32-bit float):

![screenshot from 2018-11-19 11-54-03](https://user-images.githubusercontent.com/817669/48731422-d51ea080-ebf1-11e8-8e44-bd635ba078ce.png)

This is by design because TIME is recorded at a much higher precision than FLUX.  Along the way FLUX does get converted from `>f4` to `float32` because numpy

[2018-11-19 21:38] gully opened #341 "Add aperture_mask as a class attribute to LightCurve"
The aperture mask is a part of the provenance of any Kepler/K2/TESS lightcurve procured through conventional aperture photometry conducted with pre-defined or custom-specified apertures.  Storing the aperture mask as a piece of lightcurve metadata seems fair, or even natural, to enable the inter-comparison of lightcurves generated through different means.

Issue #265 revealed a strategy for how to

[2018-11-19 21:45] gully commented on #341
Q: will we need to add extra metadata to associate the mask back an origin?  For example, in the TESS era, does the aperture mask refer to the full frame (huge!) or a "postcard", or a 2-minute window?  How would one know without additional metadata?

[2018-11-19 22:01] barentsen commented on #341
My recommendation is to add `aperture_mask` as an optional argument of `lc.to_fits()` for now.

I don't think we want to add it as a class attribute right now.  As you point out: it is not clear that an `lc.aperture_mask` attribute is useful without provenance information.

I think we should focus on our immediate goal of adding a "*Save Lightcurve*" button to interact, which allows someone to cap

[2018-11-20 00:01] barentsen commented on #188
That's interesting.  I find that most operations on a dataframe obtained using `lc.to_pandas()` work perfectly fine, but somehow `df.describe()` does crash?!

Note that `LightCurve.fill_gaps()` includes a workaround for this issue:
https://github.com/KeplerGO/lightkurve/blob/a9dc2dd065d74c7c6536ec4cc38b464281f674c0/lightkurve/lightcurve.py#L418-L421

It looks like we'll either want to move this wo

[2018-11-20 03:42] barentsen commented on #188
I believe I fixed this in #343.

[2018-11-20 07:29] ekaterinailin commented on #259
Thank you (and mostly @nksaunders I presume) for implementing the new ``search_targetpixelfile`` and ``search_lightcurvefile`` functions! I am using them in AltaiPony already. They are even easier to build upon than the old ``from_archive`` utils.

[2018-11-20 16:49] barentsen commented on #259
That's great to hear @ekaterinailin!   Yes, thank you @nksaunders!!

[2018-11-20 18:49] #188 closed

[2018-11-20 23:07] gully commented on #330
Whoa, I can confirm this major memory error.

My wild guess is that there should be a `fits.close()` somewhere.

[2018-11-20 23:16] gully commented on #337
How about using [cluster labels with mahotas](https://mahotas.readthedocs.io/en/latest/labeled.html) for crowded fields?  It's what Ben Montet uses in [f3](https://github.com/benmontet/f3).

[2018-11-21 02:12] barentsen commented on #318
Thanks to #340, opening a taget pixel file using the light curve file class raises a clear warning message:

![screenshot from 2018-11-20 18-10-55](https://user-images.githubusercontent.com/817669/48814476-bb638300-ecef-11e8-8e7c-de1ba863c884.png)

We opted not to raise an exception for now, to enable creative uses of the class using unofficial data products.

[2018-11-21 02:13] barentsen commented on #318
:arrow_up: I believe this resolves the issue, so I'm going to close this.  Thank you for reporting @KenMighell!

[2018-11-21 02:13] #318 closed

[2018-11-21 02:17] barentsen commented on #316
With #340 merged, a clear warning message is now raised when opening a TESS product using a Kepler class (though `to_lightcurve()` does work if you wanted to).

![screenshot from 2018-11-20 18-15-15](https://user-images.githubusercontent.com/817669/48814647-65430f80-ecf0-11e8-9dec-4c92c3aadcc9.png)

I believe this resolve this issue.  Thank you for reporting @KenMighell!

[2018-11-21 02:17] #316 closed

[2018-11-21 02:59] barentsen commented on #245
Resolved by #344.  Thanks @gully !

[2018-11-21 02:59] #245 closed

[2018-11-21 06:08] barentsen commented on #337
I had a quick go at solving this in #345.  It will need testing.

[2018-11-21 19:51] barentsen commented on #324
I'm going to close this issue for now because it hasn't come up yet as something that is required by an active use case.  We can re-open when a well-identified need for this feature appears!

[2018-11-21 19:51] #324 closed

[2018-11-21 19:52] nksaunders opened #346 "[Bug] Calling `.flatten()` on an SFF-corrected lightkurve raises an IndexError"
#### Problem description
There seems to be an error with how arrays are being sliced to define new lightcurve parameters. I discovered this issue when trying to find the cdpp of an sff-corrected lightcurve, which raises the error when trying execute the `.flatten()` step.

#### Example
[code]
#### Resulting Error
<img width="972" alt="screen shot 2018-11-21 at 11 44 54 am" src="https://user-images

[2018-11-21 20:03] barentsen commented on #84
I propose we do not include the tutorial notebooks in our continuous integration for now, because it would significantly slow down the tests.

Instead, I have updated the *Release procedure* in the docs to include running `make notebooks` as part of every new release (cf. cf1c9a2196ba8a04956bdf8b77f3f46802497f5e), i.e. whenever we release a new version we will verify that all notebook run without

[2018-11-21 20:03] #84 closed

[2018-11-22 02:08] barentsen commented on #346
I believe PR #347 fixes the issue.  Please review!

[2018-11-22 02:17] #346 closed

[2018-11-22 18:52] barentsen commented on #237
I opened PR #348 which makes the original time array available in a folded lightcurve as `lc.time_original`.  (Or should it be `lc.original_time`?  I could easily be convinced! =))

[2018-11-23 02:31] barentsen commented on #270
Good news: I believe to have resolved this bug!

After mitigating a large number of warnings which were being triggered during the unit tests (#338), I noticed the following warning which is unique to Appveyor/Windows (win32 platform):
[code]

This indicated that `StartTime` was not being read successfully from `short_cadence_month_lookup.csv` on Windows, which is likely caused by the use of 32-bi

[2018-11-23 02:31] #270 closed

[2018-11-26 22:45] #328 closed

[2018-11-26 22:46] barentsen commented on #237
PR #348 has been merged.  @zkbt I believe we resolved your issue (shout if not), thank you for reporting!!

[2018-11-26 22:46] #237 closed

[2018-11-27 03:19] christinahedges opened #354 "lk.open() does not support quality_bitmask keyword argument."
#### Problem description
Previously when opening files we could pass a `quality_bitmask` argument to mask out bad data flags.

[code]

The new `lk.open()` does not have a `quality_bitmask` argument.

#### Example

[code]

#### Expected behavior

It should have a `quality_bitmask` argument.

#### Environment:
- platform (e.g. Linux, OSX, Windows): MacOS
- lightkurve version (e.g. 1.0b6): 1.0b23.dev

[2018-11-27 04:35] #337 closed

[2018-11-27 23:01] #354 closed

[2018-11-27 23:13] gully commented on #204
I think I agree that returning a generic `LightCurve` object is the most prudent way forward.  A common use case may be stitching split K2 campaigns like 11-1 and 11-2, where virtually all of the common metadata is the same, but lost.  Should these have special handling?

[2018-11-28 00:53] barentsen opened #357 "Should `lc.fold()` take a `transit_midpoint` or `t0` argument?"
Right now `LightCurve.fold()` takes the arguments `period` and `phase`.  During a heated debate :fire:, we wondered if it would be more useful to have it take `transit_midpoint` instead of `phase`, because `transit_midpoint` is more commonly available (e.g. in the NASA Exoplanet Archive it is available with parameter name `pl_tranmid`).

@christinahedges Would you be willing to prepare a PR?

[2018-11-28 21:01] gully commented on #341
@christinahedges I assigned this issue to you since I think you built `to_fits()`, and you mentioned opinions on whether-to-not to add aperture_mask as a special kwarg in `to_fits()`, as is currently proposed in the Issue and PR linked above.  Geert suggests above the kwarg workaround for now.  What do you think?

[2018-11-28 21:54] JeffLCoughlin commented on #357
It makes sense to me to use transit midpoint (epoch). Without reading the documentation, just seeing "phase" is ambiguous to me as to what the input is asking for.

[2018-11-29 01:46] christinahedges commented on #264
@gully, @nksaunders and I have had a chat about this.

We've weighed up the options from @gully's first post:

Some take aways from our discussion

### Option 1. Save just the mask

Masks would be fits files with keywords describing the way they were generated and the file they apply to.

#### Pros:
- Small file size
- No change to lightkurve infrastructure needed.

#### Cons:
- Have to carry arou

[2018-11-29 18:36] gully commented on #264
Thank you Christina for your thinking on this issue.

I've been confused on which-data-products-have-which masks, so I compiled some info to help guide the discussion.

The table below summarizes mask properties for existing data products.

The columns show the data products, their equivalent lightkurve object, how masks are stored, the provenance of the mask, what type of mask they are, and how t

[2018-11-29 19:53] gully commented on #341
Discussions in #264 shed new light on this Issue.

Derived products usually originate from a data product file, having undergone some number of reduction steps.  This reduction step provenance is generally inaccessible given the `KeplerLightCurve` object alone.  That information loss extends to ignorance of masks: there is presently no way to tell what mask generated a `KeplerLightCurve`.  That ig

[2018-11-29 20:59] gully commented on #339
See recent updates #245 (closed) and #358 (still open) for some updates to the installation instructions and docs.

[2018-11-29 21:00] gully commented on #339
Also #171  is related

[2018-11-30 22:54] gully commented on #268
Idea: should we add a conda `environment.yml` file for lightkurve?  The virtue of such a file resides primarily as a common quick-start environment for tutorials and developers.

For example, if we want to aid students in running the documentation locally, they would need to clone this repo, then have Jupyter installed, the right bokeh version, etc.  It would be helpful to instruct students to sim

[2018-11-30 22:55] KenMighell commented on #264
I still favor Option #3 (Save a new target pixel file with a new HDU extension for the mask).

The advantage of requiring no infrastructure change for lightkurve is important.

I have sent a notebook to Gavin Ramsay showing how to improve his K2 analysis of the dwarf
nova AK Cnc by (1) customizing the aperture and (2) reducing the size of the TPF to have less
than 30000 cadences.  The notebook sho

[2018-11-30 23:18] christinahedges commented on #357
Yep I agree, let's switch it to transit midpoint!

[2018-12-03 22:10] #357 closed

[2018-12-06 15:14] brennv opened #364 "[DOC] Replace phase with transit_midpoint"
#### Problem description
#361 swapped out arg *phase* in favor of *transit_midpoint* for `lc.fold` but the docs still use *phase*

#### Example

Snippet from http://docs.lightkurve.org/tutorials/how-to-recover-the-first-tess-candidate.html gives a TypeError
[code]
But this works just fine:
[code]

#### Expected behavior

Docs use current args for `lc.fold`

#### Environment:
- platform (e.g. Linux

[2018-12-06 15:45] mrtommyb opened #365 "Implement from_archive methods for TESS"
Implement methods to get data directly from the MAST into lightkurve.

[2018-12-06 15:45] mrtommyb commented on #365
I am working on this.

[2018-12-06 15:47] mrtommyb commented on #365
I will implement this for the 2-min cadence data. However, we also want to interface with TESScut to access FFI data.

[2018-12-06 16:04] barentsen commented on #365
Thanks @mrtommyb, that sounds great! Please note: `from_archive()` has been deprecated in favor of the more flexible `lightkurve.search_targetpixelfile()` and `lightkurve.search_lightcurvefile()` functions. They are the ones that will need updating.

@nksaunders was also standby to help edit these functions for TESS. Do report any progress here and feel free to open [WIP] PRs early and often for e

[2018-12-07 04:29] mommermi opened #368 "Target Pixel File cut-out example fails for TESS data"
I would like to extract Target Pixel Files from calibrated TESS FFI and tried running the [How to cut out Target Pixel Files from Kepler Superstamps or TESS FFIs?](http://docs.lightkurve.org/tutorials/cutting-out-tpfs-from-tess-ffis.html) example from the documentation but it fails. Using the exact syntax as provided in the example

[code]

leads to the following warning:

The warning is triggered

[2018-12-07 04:36] barentsen commented on #364
#363 has been merged, and the online docs will be updated accordingly in the next 48 hours.

@brennv thank you for this contribution, and @christinahedges thank you for last night's presentation =)

[2018-12-07 04:36] #364 closed

[2018-12-07 04:43] barentsen commented on #368
Thank you for reporting this issue @mommermi! You are quite right that the cut-out tool in the current version of Lightkurve hasn't fully been prepared for TESS yet.

I expect we will work on this over the coming month.  In meanwhile, you may be interested in trying MAST's new [astrocut package](https://astrocut.readthedocs.io/en/latest/) which is dedicated to this task.  This new tool also has an

[2018-12-07 17:50] brennv commented on #171
Running `python setup.py test` seems like it's raising two issues:

[code]

Which can be resolved by adding another `--ignore` to `setup.cfg` for `docs/source/conf.py`.

The second issue is:

[code]

Which might be resolved by using a `matplolib.use('Agg')` [workaround](https://stackoverflow.com/a/4935945/6085135).

[2018-12-07 17:55] brennv commented on #339
I tested quickstart and installation for a development setup with no issues. Also #358 got merged.

[2018-12-07 18:18] barentsen commented on #171
Thank you for trying this and offering workarounds, @brennv!

Right now we are testing lightkurve using the command `pytest --remote-data`, however I think it would be good to fix the bugs you encountered while running `python setup.py test`.  Any takers?

[2018-12-07 19:23] barentsen opened #370 "Unit test failure triggered by the AstroPy 3.1 release"
Since the recent release of AstroPy v3.1, the `test_smooth` test in `test_periodogram.py` started failing with the following error:
[code]

e.g see https://travis-ci.org/KeplerGO/lightkurve/jobs/464831317

[2018-12-07 19:28] barentsen opened #371 "The Lightkurve repository is more than 200 MB in size"
This repository is now more than 1 GB in size, which is surprising given the very small number of images and data files it contains.

The git history likely contains accidental commits of large files.  We should look into editing the history, if possible, to avoid burdening new developers with a 1 GB download.

Any volunteers?

[2018-12-07 20:40] #370 closed

[2018-12-07 22:07] texadactyl commented on #171
The pip and pip3 libraries have been in flux.  I got some weird package version failures yesterday and this morning.  Just now, running `python3 setup.py test`:

without `--remote-data`
TOTAL Stmts   Miss  Cover 4037    951    76%
113 passed, 42 skipped, 15 warnings in 38.57 seconds

with `--remote-data`
TOTAL  Stmts   Miss  Cover 4037    360    91%
152 passed, 3 skipped, 18 warnings in 175.98 sec

[2018-12-07 22:16] texadactyl commented on #171
I use python3 so that I can employ the Spyder IDE.  Once you execute a downloaded version of lightkurve (or any other multi-source collection), you should stick to the same Python version since the compiled pyc files are imprinted with the characteristics of that particular version of Python.  E.g. Executing Python 2 after running Python 3 gets some interesting Super() failed assertions - which ma

[2018-12-07 22:41] barentsen opened #373 "interact() fails on TESScut TPFs"
`interact()` appears to fail on TESScut TPFs because the CADENCENO column is set to [0, 0, 0, ... 0].

![screenshot from 2018-12-07 14-34-17](https://user-images.githubusercontent.com/817669/49676108-3edddd80-fa2d-11e8-916c-9b54f4f0fd86.png)

Also see https://twitter.com/GeertHub/status/1071172334982094848

[2018-12-07 23:02] gully commented on #341
After a long discussion we all agreed we do not want to add `aperture_mask` as an attribute to `LightCurve` objects.  The reason for not including this attribute is resides in the complexity to maintain an *optional* feature--- not all LightCurve objects were created using aperture photometry, and eventually ground-based lightcurves may have different apertures altogether, so the aperture mask mea

[2018-12-07 23:02] #341 closed

[2018-12-07 23:03] gully commented on #373
Will investigate.  I suspect a fix to this will require an overhaul of interact, since so much of its indexing relies on the existence of cadences.

[2018-12-07 23:09] gully commented on #373
Update: Geert recommends a quick workaround-- arbitrarily assign indices as fake cadence numbers for TESSCut.  Avoids overhauling interact and achieves close to the desired behavior.

[2018-12-07 23:45] gully commented on #339
Chatting with @amcody about this issue right now--

related themes:
- conda installation hasn't been well-tested
- we're adding more tutorials in #360
- Consider adding TESS data to the quickstart guide to avoiding having to dig far into the tutorials

[2018-12-07 23:46] texadactyl commented on #371
Some folks on github use this: https://rtyley.github.io/bfg-repo-cleaner/
Clone/mirror after everyone agrees to stay out of repo and gets rid of old clones.

[2018-12-08 01:10] gully commented on #371
I spot-checked the largest files in the repo.  A bunch of them are `.ipynb_checkpoints`, including some ipynb files that were never committed in master or elsewhere.  I tracked them down to being in the gh-pages branch.  What's happening is that the make html and make notebooks for the documentation are finding any jupyter notebooks and uploading them, which is a major fail and liability, much les

[2018-12-08 02:40] gully commented on #371
OK, I force-pushed the gh-pages branch with the last 5 commits squashed, along with a recent commit that removed the content.  I recommend we eventually squash commits going back to when this problem first arose.

[2018-12-08 03:49] barentsen commented on #371
Thanks @gully, it looks good!  Before running `make upload`, other developers will want to sync the gh-pages branch as follows:
[code]
(assuming `origin` points to KeplerGO, of course!)

[2018-12-08 03:51] barentsen commented on #371
It looks like @gully's intervention dropped the size of the repo to 55 MB, so I think we can close this issue!

I think it's a great idea to have `make upload` be smarter about what it uploads to `gh-pages`, but let's start a new issue for that!

[2018-12-08 03:51] #371 closed

[2018-12-08 22:41] mrtommyb commented on #365
So, do you want me to implement things or are we doing it on #367

[2018-12-08 23:14] barentsen commented on #365
#367 should be ready or almost ready to be merged -- it would be really useful to test

[2018-12-10 18:39] amcody commented on #339
I hereby confirm that I had no problems (re-)installing lightkurve via conda in a new environment and playing dumb new user. Everything worked as specified. I would just echo the above comment that we need to provide a few more notes about how this works with TESS.

[2018-12-10 18:41] amcody commented on #339
(And sorry for the delay on this @barentsen, I just discovered that I had everything *but* the personal mentions set to email me upon new notification. Whoops!! Now fixed. )

[2018-12-10 19:56] barentsen commented on #373
This has been resolved as part of #375.  Closing!

[2018-12-10 19:56] #373 closed

[2018-12-10 23:48] gully commented on #201
Hooray!  The recent TPF slicing feature has made it possible to use interact in short cadence!

### Before-- without TPF slicing
[code]

### New behavior with TPF slicing

[code]

### Known Limitations

- It'd be nice to be able to define the slicing windows *on the fly*, i.e. with the range sliders suggested above.  That's possible!  We can do it if there's user interest.
- Slicing with non-unit

[2018-12-10 23:51] gully commented on #201
I'm going to close this issue since Short Cadence interact is now possible, albeit with some loss of the "big picture".  If anyone out there wants a *range slider* for interactively defining the short cadence data window size, please open an issue requesting this feature.

Note that this slicing should work for both Kepler/K2 and TESS data!  Enjoy!

[2018-12-10 23:51] #201 closed

[2018-12-11 00:23] amcody opened #376 "Add a scatter method to lightcurvefile objects"
Currently, lightcurvefile objects can only be plotted with continuous lines, if one wishes to show both SAP_FLUX and PDC_SAPFLUX together.

When one does lcf.scatter(), it returns the error message
AttributeError: 'KeplerLightCurveFile' object has no attribute 'scatter'

The current way around this is to do, e.g., lcf.SAP_FLUX.scatter(), using LightCurveFile. Let's add a few lines to get Kepler/Te

[2018-12-11 23:16] gully commented on #264
After much discussion, we are going to implement a way to save masks as the final HDU extension with the first data-holding extension possessing the affiliated custom aperture photometry lightcurve.  We agreed to store the mask as a bitmask with bits 1,2,3,4 yielding values in the set [0, 15], which is the Kepler pipeline standard.

The meaning of the bits in this bitmask will depart slightly from

[2018-12-11 23:48] gully commented on #264
*n.b.* The TESS bitmask standard equals the Kepler standard, if you ignore bits greater than 4, but I have setup `to_fits()` separately for TESSLightCurves and KeplerLightCurves, just in case someone wants to make some custom bitmasking for TESS.

[2018-12-12 02:00] christinahedges opened #378 "Bug in the flatten masking routine"
There's a bug in the masking in flatten that happens if we pass in a perfectly flat light curve.

![image](https://user-images.githubusercontent.com/14965634/49841942-7b337580-fd6e-11e8-9559-fb42b27a00fa.png)

[2018-12-12 04:53] barentsen opened #379 "Add a method="quadratic" parameter to tpf.estimate_centroids()?"
We should consider adding a `method="quadratic"` parameter to `tpf.estimate_centroids()` which would return the centroids estimated by fitting a qaudratic function to the (masked) pixel values.

See the reference implementation here: https://github.com/mirca/muchbettermoments !

[2018-12-12 17:44] #264 closed

[2018-12-12 17:58] christinahedges opened #380 "TESS Search Won't Find My Target"
#### Problem description
`lk.search_*` won't find my TESS target given a TIC ID

![image](https://user-images.githubusercontent.com/14965634/49888594-394d1280-fdf4-11e8-8469-de9b25fbc6bd.png)

It does work for some other targets.

This is a real target that MAST recognizes
![image](https://user-images.githubusercontent.com/14965634/49888610-479b2e80-fdf4-11e8-937e-3ff47fab646b.png)

#### Example

[2018-12-12 18:00] #380 closed

[2018-12-12 18:00] christinahedges commented on #380
This was apparently a rather transient problem.

[2018-12-12 18:05] barentsen commented on #380
Weird?  Are you saying you can't reproduce the problem?

[2018-12-12 18:06] christinahedges commented on #380
I'm saying it was probably my fault....

[2018-12-12 18:06] barentsen commented on #380
🙀

[2018-12-13 01:52] barentsen opened #381 "Add a Play-button to interact()"
This Bokeh example shows a Play button:

https://demo.bokehplots.com/apps/gapminder

The implementation is shown here:

https://github.com/bokeh/bokeh/blob/master/examples/app/gapminder/main.py#L73

This is super low priority, but it could be cute to add to `interact()`.

[2018-12-14 03:10] barentsen commented on #265
The `interact()` tool now has a `Save lightcurve` button which saves both the custom light curve and the aperture mask as a FITS file (cf. #329).  Closing!

[2018-12-14 03:10] #265 closed

[2018-12-15 00:36] #139 closed

[2018-12-19 00:31] texadactyl commented on #339
See [http://docs.lightkurve.org/install.html](url)
Installing by name ("lightkurve") is covered for both pip and conda.  But, installing the development version is only covered for pip.

[2018-12-19 00:47] texadactyl opened #383 "Enhancement request: Document how to get the lightkurve version in a Python script."
#### Enhancement request description
Amend documentation to show how to get the lightkurve software version in a Python script.

#### Example
[code]

[2018-12-19 17:07] barentsen commented on #383
Thanks for the suggestion @texadactyl!

I wonder where this would go.  My first thought it could go either in the installation instructions or on a new FAQ page.

[2018-12-19 18:32] texadactyl commented on #383
How about a more formal API and then into the API documentation? Getting the package version could be a utils.py function:
[code]

User program snippet:
[code]

[2018-12-27 23:58] KenMighell opened #384 "Bring back the phase argument for lightcurve.fold() [Redux of Issues #357 and #361]"
#### Problem description

The lightcurve.fold() method used to have an optional phase argument.  Recently following disccusions in Issues #357 & #361, the phase argument was removed and an optional transit_midpoint argument was added.

The removal of the phase argument broke one of my demos for the upcoming American Astronomical Society meeting in Seattle.  I partially fixed the demo by commenting

[2018-12-28 14:33] barentsen commented on #384
Thanks for reporting this @KenMighell.

I'm sorry to hear the change broke your demo.  The meaning of the `phase` parameter was indeed very unclear in the past, which led to change.

For the use case you describe, perhaps a new parameter called `phase_shift` could be introduced, which would allow the phase to be shifted by some amount.  It would default to zero and be applied in addition to `trans

[2018-12-28 17:00] KenMighell commented on #384
This is exactly the behavior I was trying to describe.  phase_shift is a better (more descriptive) name for the argument.

I do think that phase_shift would add useful functionality.   The above code may not be obvious for a new
lightkurve user who is simultaneously learning Python (e.g., a bright undergraduate).   Maybe *both* could
be used in an official introductory lightkurve tutorial showing

[2018-12-29 22:08] texadactyl opened #385 "lightkurve installation from channel conda-forge causes downgrading"
#### Problem description
Currently, lightkurve is not in the default conda channel.  Hence, one follows the documented method of installing lightkurve with conda:

[code]

Unfortunately, to push ahead one must accept downgrading of certain packages:

[code]

There is a similar warning about adds and upgrades.  This could be very undesirable.

#### Environment:
- platform: Xubuntu 18.04.1
- lightku

[2018-12-29 22:35] texadactyl commented on #385
#### Proposed Solution (documentation amendment)

Document that conda users append the default channel entry with conda-forge so that entries (explicitly requested or as an implied dependency) come from the default channel as long as there an entry in the default channel; else conda will continue searching in conda-forge:
[code]

Then, the following command works without creating downgrading warni

[2018-12-29 23:50] texadactyl opened #386 ""ImportError: No module named _bsddb""
#### Problem description
This is not a lightkurve issue but a warning to folks in the documentation would be helpful in avoiding spending a lot of time chasing around.

In some pip/pip3/conda environments, the bsddb package is not yet installed even after lightkurve and astropy are installed.  Technically, bsddb is not a named installation dependency (ouch, it should be somewhere!).  But it is a P

[2018-12-30 04:35] texadactyl commented on #330
Yes, the above program turned my PC into a swapping machine.  I tried some variations using `del frame` at the end of the loop instead of `pass`.  Garbage collection caught up a little but my PC was still pretty useless.

No garbage collection could keep up with such a tight loop.  It's not a realistic test case.  Lightkurve doesn't even participate in the loop.

I'd handle this with "don't do tha

[2018-12-31 17:09] barentsen commented on #330
@texadactyl Many thanks for trying to see if `del frame` etc would provide an easy fix!!  I'm sorry to hear it didn't.

I worry this relates directly to the internals of `astropy.io.fits` which I am not very familiar with.

Workarounds may include disabling enumerating over a TPF altogether, or printing a warning message.

I consider this to be a low priority issue for now because I don't think th

[2018-12-31 17:16] barentsen commented on #386
Thank you for reporting this issue @texadactyl!  It is useful to have this documented in our issues.

Would you be willing to copy/paste the full error stack trace?  I'd like to understand exactly when the ImportError occurs, i.e. which line(s) of code depend on having `_bsddb` present.

[2018-12-31 17:39] barentsen commented on #385
@gully Do you think we have narrow constraints on the conda package that could be relaxed to avoi the issue above, or do you think we should update the documentation as per @texadactyl's suggestion?

[2018-12-31 18:53] texadactyl commented on #385
Whatever you do, just remember that your users are scientists who will appreciate a low complexity solution.  (=:

[2018-12-31 19:15] texadactyl commented on #386
Will do.

Also, is there any way that you have discovered to speed up conda's "Solving environment"? Bloody pig!

[2018-12-31 19:35] texadactyl commented on #386
Just as I thought the battle was won .....

[code]

[2018-12-31 19:38] texadactyl commented on #386
So, then I did this: ```conda install bsddb```
Then, all is well:

[code]

[2018-12-31 19:40] texadactyl commented on #386
Note that the last package to cause the cascade is astropy/utils/data.py

[2018-12-31 20:54] texadactyl commented on #330
Note that

[code]

runs just fine.  Something is rotten in using enumerate on the entire object.

[2019-01-02 16:09] barentsen commented on #386
Aha! This appears to be listed as a known AstroPy issue, see:

http://docs.astropy.org/en/older-docs-archive/v2.0.7/known_issues.html#remote-data-utilities-in-astropy-utils-data-fail-on-some-python-distributions

The issue appears to be specific to Python 2, and so it was only listed as a known issue in AstroPy versions up to 2.0 (hence I am linked to older astropy docs).  AstroPy 3.0 does not men

[2019-01-02 16:12] barentsen commented on #386
If we did want to make life easier for Python 2 users, I suppose one possibility is to wrap every occurrence of `fits.open()` in Lightkurve as follows:

[code]

... but really such a helpful error message should've been part of astropy.

[2019-01-02 16:13] barentsen commented on #386
I'm going to close this issue for now, but do feel free to re-open if anyone thinks we should take further action.  This would be the case if e.g. we do see a large number of users struggle with this issue.

[2019-01-02 16:13] #386 closed

[2019-01-02 17:00] texadactyl commented on #386
No, do not make code changes.  But, please warn users through documentation that Python 2 users might experience that symptom and the remedy is simply to manually install bsddb.

[2019-01-02 17:08] texadactyl commented on #386
I could not reproduce this anomaly under Python 3.  Excellent.
[code]

[2019-01-02 17:42] texadactyl commented on #386
I could not reproduce this anomaly under Python 3.  Excellent.
[code]

[2019-01-07 23:00] texadactyl commented on #385
I tried to reproduce this again today.  There were no downgrades.  Given the dynamic nature of the conda-forge channel, perhaps the inadvertent downgrading (mistake?) might be expected from time to time.

I am closing this report so as to not distract the team from priority work (E.g. science).

[2019-01-07 23:00] #385 closed

[2019-01-08 20:09] texadactyl commented on #339
Okay, I'll answer my own question ..... How do you install the development version into an Anaconda environment which is, by the way, not documented?
[code]
When time permits, please add this to the section dealing with development installs - Anaconda flavour.

[2019-01-11 04:42] mrtommyb opened #389 "There needs to be lightkurve hoodies"
#### Problem description

I get cold on wintery evenings and I have no lightkurve hoodie to keep me warm.

#### Example
I was cold in Seattle and I hadbl nothing to wear.
#### Expected behavior

I would like a hoodie with a lightkurve logo on the chest. Also a zip.
#### Environment:
Cold evenings. But not too cold.

[2019-01-14 17:38] barentsen commented on #389
Thank you for the suggestion @mrtommyb!

I am unable to reproduce your issue because it is never cold in California :sun_with_face:, so it may be best for Lightkurve's east coast office to take the lead on this :snowflake:.  Please re-open this issue when there is progress to report. :nerd_face:

[2019-01-14 17:38] #389 closed

[2019-01-15 20:00] ernewton commented on #384
The docs page http://docs.lightkurve.org/tutorials/how-to-recover-the-first-tess-candidate.html still has phase instead of midpoint in the TESS example, I presume because I'm one version ahead of the docs.

[2019-01-17 18:00] ojhall94 commented on #310
Hi all, I'm having a look at this issue again. I've recreated Ben Pope's original notebook to illustrate more closely what this change would be useful for:

https://github.com/ojhall94/keplergohacks/blob/master/%23310.ipynb

There are two potential additions illustrated here, but Im not sure if either are necessary:
a) We could get periodogram to return the oscillation pattern for the frequency of

[2019-01-17 19:12] christinahedges commented on #310
Hey @ojhall94, great notebook! The final plot is very compelling. I really like this as a way to get rid of periodic noise for star spot removal.

Can we have something like the following functionality:

[code]

[2019-01-17 22:37] benjaminpope commented on #310
See implementation of an iterative sine fitter in
https://github.com/benjaminpope/hot

On Thu, Jan 17, 2019 at 2:12 PM Christina Hedges <notifications@github.com>
wrote:

--
Dr Benjamin Pope
NASA Sagan Fellow
Center for Cosmology and Particle Physics
New York University
726 Broadway
New York, NY 10003

[2019-01-18 15:16] ojhall94 commented on #310
I've written the functionality as described above and opened a PR. I personally think this would work better as a LightCurve functionality, but we'll see what we arrive at!

[2019-01-20 18:38] KenMighell commented on #383
In many Python modules, __version__ is a global string (which is why get_version()  works):

So a simpler solution:

import lightkurve as lk
print lk.__version__

[2019-01-20 18:43] KenMighell commented on #383
In many Python modules, `__version__` is a global string (which is why get_version() works):

So... a simpler solution for hacking Python scripts:

`import lightkurve as lk
print lk.__version__`

[2019-01-20 19:10] KenMighell opened #391 "TESS target pixel file method to_lightcurve() unexpectedly censors data"
#### Problem description

TESS target pixel file method to_lightcurve() unexpectedly censors data.
With Kepler/K2 target pixel files (opened with quality_bitmask=0) the "time"
vector in the tpf file is the same size (as expected) of the "time" vector in
the light curve produced by the to_lightcurve() method.  Unfortunately,
this is not true with TESS target pixel files.  The to_lightcurve() may be

[2019-01-21 01:00] KenMighell commented on #391
[code]

[2019-01-21 06:13] barentsen commented on #391
@KenMighell I would not object to see the `if (quality_bitmask > 0):` statement added!  Would you be willing to open a PR to add this?  (We have a guide on how to open a PR here: https://docs.lightkurve.org/contributing.html#proposing-changes-to-lightkurve-using-github-pull-requests )

I'm going to be on leave until Friday, but happy to have me or someone else merge a PR that implements this chang

[2019-01-21 06:15] barentsen commented on #391
I will also add that it is my understanding that future TESS data releases will flag the offending cadences that have `time=nan`, at which point we should definitely remove the hack that filters them out!

[2019-01-24 10:49] lacalaca85 opened #393 "TessLightCurveFile expects 'QUALITY' flag but .interact() generates 'SAP_QUALITY' column from TESS cutouts"
#### Problem description
I generated an FFI cutout with TESScut and created a light curve with a custom aperture via .interact(). When I tried to load it back as a TessLightCurve object, it failed.

#### Example

[code]

#### Expected behavior
Open a light curve generated from TESS data with lightkurve as a TessLightCurve object.

#### Environment:
- platform (e.g. Linux, OSX, Windows): OSX 10.10.

[2019-01-25 01:53] barentsen commented on #393
Thank you @lacalaca85.  We will look into this asap.

[2019-01-25 19:05] gully commented on #384
Indeed, calling it transit_midpoint is a bit of a misnomer, and sometimes it's convenient to specify in radians or other transformations.  I'm updating the tutorials to reflect recent code changes, so the docs should be up-to-date momentarily.

[2019-01-25 19:18] gully opened #394 "May need to close TPF files after search .download()"
After downloading thousands of target pixel files with the `search` functionality, I hit some errors that implicated our double-opening of fits files on line ~756 of `search.py`.  @nksaunders and I used a context manager to auto-close the first instance of opening the file, and the error went away.  Here was the change we made:

[code]

I propose we add this context manager to ensure `fits.close()

[2019-01-25 23:15] gully opened #395 "binary aperture_masks of dtype float do not work"
#### Problem description
binary aperture_masks of dtype float do not work

#### Example

*works*:

[code]

*Doesn't work:*
[code]

yields:
[code]

#### Expected behavior
Float and int masks of 1.0's and 0.0's should work as binary masks.

#### Environment:
OSX, master version

[2019-01-26 19:08] barentsen commented on #395
Although we should discourage users from specifying aperture masks using floats (because the official data products uses integers), I'd be OK with preventing the above crash for ease of use.

I think `TargetPixelFile._parse_aperture_mask()` could including the following logic:
[code]

@gully do you want to go ahead and open a PR that does the above?  I'd also encourage you to update the docstring

[2019-01-26 19:15] barentsen commented on #394
Indeed, this line in search.py's `open()` function:
[code]
...opens the FITS file *only* for the sake of determining the file type from the header.  If it makes a memory performance difference, we should definitely ensure that the file is closed again after the file type is detected!

Please go ahead and open a PR!

[2019-01-28 18:35] barentsen opened #398 "How to use AstroPy's BLS with Lightkurve?"
AstroPy v3.1 has a [great implementation of BLS](http://docs.astropy.org/en/stable/api/astropy.stats.BoxLeastSquares.html).  The question begs: should we make it easy for Lightkurve users to call/use this BLS?

## Proposal

I propose to introduce two convenience methods:
* `lc.to_bls()` shall return an `astropy.BoxLeastSquares` object initialized with the LightCurve data.
* `lc.to_periodogram(meth

[2019-01-28 18:37] barentsen opened #399 "Add a Jupyter widget for interactive BLS"
@christinahedges has proto-typed a fabulous Jupyter widget which enables the [new AstroPy BLS](http://docs.astropy.org/en/stable/api/astropy.stats.BoxLeastSquares.html) to be used in an interactive fashion.

We should consider adding this feature to Lightkurve ahead of the upcoming Baltimore workshop, where we will present a BLS+Lightkurve tutorial.  (Also see #398.)

[2019-01-28 23:30] barentsen commented on #398
Feedback from chedges and nksaunders:
* Add subclasses `LombScarglePeriodogram` and `BoxLeastSquaresPeriodogram` to preserve method-specific data/results/parameters.
* `lc.to_periodogram("bls")` must take min_period, max_period, etc...

[2019-01-29 23:26] christinahedges opened #402 "`search_targetpixelfile` does not support FFI cutouts"
#### Problem description

TESS Search isn't finding my target.
#### Example

[code]

![image](https://user-images.githubusercontent.com/14965634/51947541-201b1800-23da-11e9-8c9d-021355feae37.png)

It is available on MAST

![image](https://user-images.githubusercontent.com/14965634/51947561-28735300-23da-11e9-8a7f-ed7740fd925d.png)

#### Expected behavior

It should find the target.

#### Environme

[2019-01-29 23:43] nksaunders commented on #402
I was able to reproduce this issue. I did find the expected file with the following snippet:

[code]

This returns a table containing an observation of the target. However, the identified file is an FFI, which is not currently supported by `lightkurve.search`.

**Solution**:
We need to make targets on FFIs accessible through the `search` API. We could adapt the search functions to return FFIs, but

[2019-01-30 22:19] christinahedges opened #404 "LightCurveFile repr could be more infomative"
Currently the `LightCurveFile` and `LightCurve` repr's are very similar and I wonder if this is causing/ will cause a little confusion for people.

![image](https://user-images.githubusercontent.com/14965634/52016653-017c5600-249a-11e9-8aa6-573be68331cb.png)

I wonder if we should change the `LightCurveFile` repr to something like

![image](https://user-images.githubusercontent.com/14965634/520166